.articleElement p:first-child{
	margin-before:0px;
	-webkit-margin-before:0;
}
a{
	color:inherit;
}
.articleElement{
	color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0px;
	opacity: 0;
	z-index: -1;
	-webkit-transition: all .2s;
	transition: all .2s;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	
}
h1, h2, h3, h4{
	font-family: 'Open Sans','Mondo Cane', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	line-height: 0.9;
}
.articleElement h3,h4{
	display: inline;
}
.articleElement p{
	-webkit-margin-before: 0;
}
.articleElement strong{
	font-weight: bold;
	text-transform: uppercase;
}
.articleElement .text img{
	float:left;
	margin-right:1em;
	margin-top:1em;
	margin-bottom: 1em;
}
.articleElement .text .title{
	padding: 0;
}
.articleElement img{
	height: 100%;
	width: 100%;
}

.articleElement .text{
	background-color:white;
	color: black;
	overflow: auto;
	overflow-x: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding:2em;
}
.articleElement .text p:last-child{
	padding-bottom: 3em;
}
.articleElement .topwrap .text{
	overflow: hidden;
}
.articleElement video{
	width:100%;
	height: 100%;
	background-color:black;
}
.topwrap{
	background-image:url("../assets/images/articlestyle/logo_top_tile.png");
	background-size: 100% 100%;
	background-position: center center;
	height: 17.78%;
}
.title{
	font-size: 2.4vw;
	padding:1em;
}
.centerwrap{
	width:60%;
	margin-right:auto;
	margin-left:auto;
	float: left;
	height:100%;
}
.mainwrap{
	background-color: rgba(0,0,0,0.6);
	height: 82.22%;
	overflow:hidden;
}
.mainwrap .title{
	font-size: 1.4vw;
}
.rightcolumn{
	float: right;
	height:100%;
}
.leftcolumn{
	float: left;
	height:100%;
}
.widecolumn {
	width: 67%;
	
}
.narrowcolumn {
	width: 33%;
	
}
.square{
	width: 100%;
	height: 42%;
}
.halfsquare{
	width: 100%;
	height: 21%;
}
.superhalfsquare{
	width: 100%;
	height: 21%;
}
.tall{
	width: 100%;
	height:63%;
}

.supertall{
	height:84%;
	width:100%;
}
.widecolumn .square{
	width: 100%;
	height: 84%;
}
.topcontainer.square{
	width: 100%;
	height: 63%;
}
.widecolumn .halfsquare, .topcontainer.halfsquare{
	width: 100%;
	height: 42%;
}
.widecolumn .square.small{
	width: 50%;
	height: 42%;
}
.widecolumn .halfsquare.small{
	width: 50%;
	height: 21%;
}

.floater{
	display:inline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	width:20%;
	height: 100%;
	font-size: 1.3vw;
}
.floater h1{
	font-size: 1.2em;
}
.floater p{
	margin: 0;
}
.floater .text{
	overflow:hidden;
}
.closeArticle{
	z-index: 1000;
	position:absolute;
	width: 75px;
	height: 75px;
	float: right;
	right:0em;
	top: 0em;
	background-image: url("../assets/images/close.png");
	background-size:cover;
	cursor: pointer;
	-webkit-transition: all .1s;
	transition: all .1s;
	-ms-transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
	transform: scale(0.8,0.8);
}
.closeArticle:hover{
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}

.closeArticle:active{
	-ms-transform: scale(0.5,0.5);
	-webkit-transform: scale(0.5,0.5);
	transform: scale(0.5,0.5);
}
.articleContent{
	height: 100%;
}

.articleElement .black{
	background-color: black;
	color: white;
}
.articleElement .gray{
	background-image: url("../assets/images/articlestyle/tiles_texture_768x192.png");
	background-size: 100% 100%;
	color: black;
	text-shadow: 0px 0px 10px white;
}
.articleElement .gray.square{
	background-image: url("../assets/images/articlestyle/tiles_texture_384x384.png");
}
.articleElement .gray.tall{
	background-image: url("../assets/images/articlestyle/tiles_texture_384x576.png");	
}
.articleElement .white{
	background-color: white;
	color: black;
}
.articleElement .blue{
	color: #a6c1cf;
}
.clear{
	clear: both;
}

.rightcolumn div, div.floatleft{
	float: left;
}

.leftcolumn div, div.floatright{
	float:right;
}

.heightfill{
	height: 100%;
}
.fillall{
	height:100%;
	width:100%;
}
