#dashboard{
	position:absolute;
	top: 0;
	left: 0px;
	height:100%;
	transition: all 1s;
	z-index: 11000;
}
#dashboard:hover{
	left:250px;
}
#dashboard .button{
	width: 100px;
	height: 75px;
	position: absolute;
	background-image: url("../assets/images/menubutton.png");
	background-size: 100% 100%;
	bottom: 30px;
	left: 0px;
	transition: all 0.5s;
}
#dashboard .menu{
	height: 100%;
	width: 250px;
	top: 0;
	position: absolute;
	right:0px;
	padding-top:10px;
	background-color:black;
}
#dashboard .menu li, #dashboard .menu a{
	text-transform:uppercase;
	padding-left: 35%;
	padding-right: 2em;
	margin-left:0em;
	height: 11%;
	text-align: left;
	background:black;
	color:white;
	cursor: pointer;
	background-image: url("../assets/images/dashboard/DASH_MENU_1.png");
	background-size:contain;
	background-repeat:no-repeat;
	display:table;
	max-height:87px;
	text-decoration:none;
}
#dashboard .menu li p, #dashboard .menu a p{
	margin: 0;
	display: table-cell;
	vertical-align:middle;
	font-size:x-large;
	line-height:0.85em;
	font-family: 'Open Sans','Mondo Cane', Arial, Helvetica, sans-serif;
}
#dashboard .menu li:hover, #dashboard .menu a:hover, #dashboard .menu .open{
	background:white;
	color:black;
	background-size:contain;
	background-repeat:no-repeat;
}
#dashboardArticles{
	position:absolute;
	height:87%;
	left:250px;
	right: 0px;
	top:0;
	z-index: -1;
}
#dashboardArticles div{
	float:left;
	box-sizing: border-box;
}
#dashboardArticles .quart{
	width: 25%;
}
#dashboardArticles .half{
	width: 50%;
}
#dashboardArticles .threequarts{
	width: 75%;
}
#dashboardArticles .low{
	height: 20%;
}
#dashboardArticles .high{
	height:40%;
}
#dashboardArticles .tall{
	height: 60%;
}
#dashboardArticles .infographic, #dashboardArticles .supertall{
	height: 80%;
}
#dashboardArticles .twinpics{
	height: 50%;
	width: 100%;
}
#dashboardArticles .titletext{
	padding: 1em;
	font-size: 1.3vw;
	text-transform: uppercase;
}
#dashboardArticles .textarea{
	overflow:auto;
	padding: 1em;
}
