#slider{
	width:100%;
	height:100%;
}
.imageslider{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color:black;
}
.imageslider img{
	width: inherit;
	height: inherit;
	position: absolute;
	transition: all 1s;
	left: 0;
	opacity: 1;
	z-index: 150;
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
/*
	-webkit-transform: scale(2,2);
	transform: scale(2,2);
*/
}
.imageslider .leftBtn, .imageslider .rightBtn{
	position: absolute;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	top: 50%;
	z-index: 200;
	opacity: 1;
	transition: all 0.3s;
	background-size: contain;
	transform: scale(0.9,0.9);
	
}

.imageslider .leftBtn:hover, .imageslider .rightBtn:hover{
	transform: scale(1,1);
	cursor: pointer;
}

.imageslider .leftBtn:active, .imageslider .rightBtn:active{
	transform: scale(0.7,0.7);
}
.imageslider .leftBtn{
	left: 0;
	background-image: url("../assets/images/leftarrow.png");
	background-position: left;
}
.imageslider .rightBtn{
	right: 0;
	background-image: url("../assets/images/rightarrow.png");
	background-position: right;
}
#textContainer{
	position:relative;
	font-size: 1vw;
}
#textContainer div{
	position: absolute;
	opacity: 0;
	transition: all 1s;
	padding-right: 2em;
}
#textContainer div p, #textContainer div table{
	padding-right: 0;
	padding-left: 0;
}