@font-face {
    font-family: 'Mondo Cane';
    src: url('MondoCane.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
	padding: 0px;
	margin: 0px;
	background-color: #000000;
	font-family: 'Raleway', sans-serif;
	overflow:hidden;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}
ul{
	-webkit-padding-start: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
a{
	color: inherit;
}
i{
	font-style:normal;
}

#trackingBox{
	position: absolute;
	background-color: black;
	transition: all 0.5s;
	color: white;
	text-align: center;
	padding-top: 10%;
	top: 0;
}
#trackingBox p{
	font-family: 'Raleway', sans-serif;
	font-size: medium;
	margin-left: 10%;
	margin-right: 10%;
}
#trackingBox.show{
	transition: all 3s;
	z-index: 9001;
}
#trackingBox .path{
	position: initial;
	margin: 1em;
}
#playbutton{
	position: absolute;
	pointer-events:none;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	transition: all 0.3s;
	background-color: rgba(0,0,0,0.4);
}
#playbutton div{
	background-image: url("../assets/images/play.png");
	background-size:contain;
	height: 200px;
	width: 200px;
	background-repeat:no-repeat;
	position: absolute;
}
.articleButton{
	opacity: 0;
	z-index:-50;
	position: absolute;
	width: 35%;
	height: 60%;
	margin: 3em;
	background: url('../assets/images/cat.png');
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-transition: -webkit-transform 1s, opacity 1s, z-index 1s, margin 1s;
	-moz-transition: -moz-transform 1s, opacity 1s, z-index 1s, margin 1s;
	-ms-transition: -ms-transform 1s, opacity 1s, z-index 1s, margin 1s;
	-o-transition: -o-transform 1s, opacity 1s, z-index 1s, margin 1s;
	transition: transform 1s, opacity 1s, z-index 1s, margin 1s;
	-moz-animation: buttonAnimation 1s infinite alternate;
	-webkit-animation: buttonAnimation 1s infinite alternate;
	animation: buttonAnimation 1s infinite alternate;
	
}
.tilt:hover{
	cursor: pointer;
	opacity: 1;
}
.endCardContainer{
	z-index: -10;
	opacity: 0;
	top:inherit;
	position: absolute;
	height: 75%;
	text-align: center;
	-webkit-transition: all 1s;
	transition: all 1s;
}
.endCardContainer li{
	display:inline-block;
	height: 75%;
	width:33%;
	-webkit-transform: scale(0.8,0.8);
	transform: scale(0.8,0.8);
	background: url('../assets/images/cat.png');
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-transition: all 1s;
	transition: all 1s;
}
.endCardContainer li:hover{
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}
.endCardContainer p{
	display:inline-flex;
	color: white;
	font-size: 2em;
	text-shadow: 1px 1px 5px black;
}
.path{
	position:absolute;
	bottom:30px;
	left: 110px;
}
.path li{
	display:inline-block;
	background: url('../assets/images/questionmark.png') center;
	background-size: 165% 165%;
	width: 70px;
	height: 70px;
	border-style:solid;
	border-width: 12px;
	border-radius: 50%;
	margin-right: 1em;
	cursor: pointer;
	transition: all 0.3s;
	box-sizing: border-box;
}
.path li:hover{
	border-width: 5px;
}
.path li:active{
	border-width: 28px;
}
.node{
	border-color:gray;
}

.start{
	border-color:white;
}

.currentNode{
	border-color:black;
}
.vjs-default-skin.vjs-controls-disabled .vjs-control-bar{
	display:block;
}
.vjs-default-skin .vjs-play-control{
	display:none;
}
.vjs-default-skin .vjs-progress-control{
	display:none;
}
#restartButton{
	height: 100px;
	width: 200px;
	background-image: url('../assets/images/start_forfra.png');
	background-size:contain;
	background-repeat:no-repeat;
	cursor:pointer;
	transform: scale(0.9,0.9);
	transition: all 0.3s;
	margin:auto;
}

#restartButton:hover{
	transform: scale(1,1);	
}

@-webkit-keyframes buttonAnimation{
	from {-webkit-transform:scale(0.8,0.8)}
	to {-webkit-transform:scale(1,1)}
}
@-moz-keyframes buttonAnimation{
	from {-moz-transform:scale(0.8,0.8)}
	to {-moz-transform:scale(1,1)}
}
@keyframes buttonAnimation{
	from {transform:scale(0.8,0.8)}
	to {transform:scale(1,1)}
}
@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}
