.center{
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
.left{
	left:0px;
	margin-right: auto;
}
.right{
	right:0px;
	margin-left: auto;
}
.middle{
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
.top{
	top:0px;
	margin-bottom: auto;
}
.bottom{
	bottom:0px;
	margin-top: auto;
}
.fadeUp{
	opacity: 1;
	z-index: 100;
}
.fadeDown{
	opacity: 0;
	z-index: -1;
}
.hidden{
	opacity: 0;
	z-index: -1;
	transition: all 0s;
}
.show{
	z-index: 20;
	opacity: 1;
}
.path.hidden{
	transition: all 1s;
}

.path.show{
	transition: all 1s;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
