#Quiz{
	background: white;
	font-family: 'Raleway', sans-serif;
	font-size: smaller;
}
#Quiz .question{
	position: relative;
	float:left;
	width:62.67%;
	margin:2%;
	height: 92%;
}
#Quiz .headline{
	font-weight:bold;
	background-image: url("../assets/images/articlestyle/tiles_texture_768x192.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;
	text-shadow: 0px 0px 3px black;
	font-size: 26px;
	text-indent: 1em;
	width:100%;
	text-transform: uppercase;
}
ul.answers{
	float:right;
	height: 100%;
	margin: 0;
	padding: 0;
	min-width:33%;
}
.answers li{
	display:inline;
	box-sizing: border-box;
	width:96%;
	padding-top:12.5%;
	margin:1%;
	margin-right:3%;
	padding-right: 0.5em;
	text-align:right;
	height:31.3%;
	float:right;
	clear: right;
	margin: 1.5%;
	background-color:black;
	color:white;
	text-decoration:none;
	border: solid 1px black;
}
.answers li:hover {
	background-color: white;
	color: black;
}
.answers li:active {
	position:relative;
	top:1px;
}
.answers li:first-child{
}
#Quiz .content{
	height: 75%;
}
#response{
	position:absolute;
	bottom:0;
	border-top:dashed 1px;
}