<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn text narrowcolumn">
			<h1 class = "title">40-1_41-1</h1>
		</div>
		<div class = "rightcolumn widecolumn"></div>
	</div>
	<div class = "floater float-right heightfill"></div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left"></div>
	<div class = "centerwrap">
		<div class = "topcontainer"></div>
		<div class = "narrowcolumn leftcolumn"></div>
		<div class = "widecolumn rightcolumn"></div>
	</div>
	<div class = "floater float-right"></div>
</div>
</div>