<div class = "topwrap">
	<div class = "floater float-left heightfill">
	</div>
	<div class = "centerwrap">
		<div class = "leftcolumn black narrowcolumn"></div>
		<div class = "rightcolumn white text widecolumn"><h1 class = "title">Her er du</h1></div>
	</div>
	<div class = "floater float-right black heightfill">
		<img src = "assets/images/articleimages/0-1_home_rightcollum.png">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left heightfill">
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/0-1_slum_leftcollum.png">	
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Omraade_tile.png">	
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/0-1_shower_leftcollum.png">	
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer square">
			<div id = "slider" transition = "zoom" imagerotation = "false">
				<div>
					<img src = "assets/images/articleimages/0-1_map_1.png">				
				</div>
				<div>
					<img src = "assets/images/articleimages/0-1_map_2.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/0-1_map_3.png">
				</div>	
			</div>
		</div>
		<div class = "leftcolumn narrowcolumn">
			<div class = "halfsquare" id = "Quiz" question = "I dag bor der 12 millioner mennesker i Metro Manila, men hvor mange forventes der at bo i 2025?" answers = "14.5 millioner;16 millioner;17.5 millioner" correctanswer = "1"></div>
		</div>
		<div class = "rightcolumn widecolumn">
			<div class = "halfsquare text white">
				<p><strong>GEOGRAFI:</strong> Filippinerne består af mere end 7000 øer, der ligger i det subtropiske klimabælte. Med en årlig gennemsnitstemperatur på 26 grader og tusindevis af kridhvide sandstrande er landet et af asiens mest populære rejsemål. Samtidig er øriget også et af de lande i verden, der er mest udsat, når det kommer katestrofer forsaget af naturen. I snit rammes Filippinerne af 19 tyfoner om året.</p>
			</div>
		</div>
	</div>
	<div class = "floater float-right heightfill">
		<div class = "halfsquare gray"></div>
		<div class = "square">
			<img src = "assets/images/articleimages/0-1_boy_rightcollum.png">
		</div>
		<div class = "halfsquare gray"></div>
	</div>
</div>
<script>
</script>