<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn widecolumn white">
			<h1 class = "title">Slumområde </br> Estero Magdalena</h1>
		</div>
		<div class = "rightcolumn narrowcolumn"></div>
	</div>
	<div class = "floater float-right heightfill"></div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "square text">
			<p>Afføringen flyder stille forbi, mens rotterne pusler og piber om kap. Tag med på tur i Estero Magdalena, hvor indbyggerne bor ovenpå millionbyens åbne kloaksystem.</p>
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/0-2_slum_rightcollum.jpg">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/0_2.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/0_2.webm' type = "video/webm"></source>
			</video>
		</div>
		<div class = "narrowcolumn leftcolumn">
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "halfsquare text">
				<p><strong>Navn:</strong> Estero Magdalena. Esteroen er navnet på Manilas åbne kloaksystem.</p>
				<p><strong>Lokation:</strong> Mere end 400 esteroer forgrener sig gennem Manila og transporterer byens spildvand. Estero Magdalena er en af dem. Området ligger i Tondo og snor sig blandt andet forbi et par skoler og et af byens dyre privathospitaler.</p>
				<p><strong>Indbyggere:</strong> Op mod 10.000</p>
				<p><strong>Størrelse:</strong> Estero Magdalena strækker sig over en halvanden kilometer, der følger kloaksystems vandløb.</p>
				<p><strong>Farer:</strong> Oversvømmelser. Brand. Uhygiejniske leveforhold. Malaria.</p>
				<p><strong>Særlige kendetegn:</strong> Visse boliger langs esteroerne har op til fem etager. I de fleste tilfælde tages de øverste etager dog kun i brug, når vandstanden stiger drastisk.</p>
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "tall">
			<img src = "assets/images/articleimages/0-2_bluegirl_leftcollum.jpg">
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Omraade_tile.png">
		</div>
	</div>
</div>
</div>