<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="leftcolumn text widecolumn black">
            <h1 class="title">Slumdysten </br>Pisonet</h1>
        </div>
        <div class="rightcolumn narrowcolumn">
        	<img src = "assets/images/articleimages/0-3_top.jpg" />
        </div>
    </div>
    <div class="floater float-right heightfill white"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        <div class="square text"><p>De popper op overalt og børnene sværmer omkring dem. Pisonettet er Filippinernes populære og simple computeranordning, som gør slummen online.</p></div>
       	<div class = "black halfsquare"></div>
	</div>
    <div class="centerwrap">
        <div class="topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/0_3.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/0_3.webm' type = "video/webm"></source>
			</video>
        </div>
        <div class="narrowcolumn rightcolumn">
        </div>
        <div class="widecolumn leftcolumn">
            <div class="text halfsquare"><p>På afstand kunne det minde om små miniatureudgaver af de populære arkademaskine fra
			en spillehal i 90‘erne. Men det er det ikke. De allestedsværende pisonet-maskiner har
			åbnet den virtuelle omverden og gjordt den tilgængelig for slummens beboere. For en
			enkelt peso, får man ﬁre minutters adgang til maskinen og så er der ellers fri leg, hvad
			enten man vil surfe på de sociale medier eller game med skarpladte våben online.</p>
			<p><strong>Dysten </strong>Hvem sigter godt, og hvem der rammer skidt? Det handler om liv og død, når Jonas og
			Mikkel udfordrer slummens stormester med de virtuelle kugler i online gaming på
			pisonettet.</p>
			<p><strong>Pisonet: </strong>En sammensætning af to ord. Piso, der er tagalog for møntfoden peso, og net,
			som referer til internettet. Består af en computer, der er koblet op på en internetforbindelse
			og en simpelt betalingsanordning.</p><p><strong>Om slumdysten: </strong>Hvordan ville en dansker klare sig i slummen? For at blive klogere på det udfordrer
			tilrettelæggerne af ‘The Slum Challenge‘ sig selv og hinanden i en række prøvelser, der
			tager udgangspunkt i hverdagssituationer i Manilas slum. Som danske menneskelige
			målestokke prøver Jonas og Mikkel kræfter med arbejdsmarkedet og kulturen i en fattig
			filippinsk verden.</p>
            </div>
        </div>
    </div>
    <div class="floater float-right">
        <div class="halfsquare">
        	<img src = "assets/images/articleimages/Slumdyst_tile.png" />
        </div>
        <div class="halfsquare white"></div>
    	<div class = "gray square">
        	<img src = "assets/images/articleimages/0-3_rightcollum.jpg" />
    	</div>
    </div>
</div>
</div>