<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="leftcolumn text narrowcolumn black blue">
            <h1 class="title">Blå Bog</h1>
        </div>
        <div class="rightcolumn widecolumn"></div>
    </div>
    <div class="floater float-right heightfill"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
    	<div class = "tall">
        	<img src="http://cdn.slumchallenge.dk/assets/images/articleimages/blaabog_boy_leftcollum.png">
    	</div>
    	<div class = "gray halfsquare"></div>
    </div>
    <div class="centerwrap">
        <div class="topcontainer">
        </div>
        <div class="narrowcolumn leftcolumn">
        	<div class = "supertall">
            	<img src="http://cdn.slumchallenge.dk/assets/images/articleimages/blaabog_leftcollum.png">
        	</div>
        </div>
        <div class="widecolumn rightcolumn">
        	<div class = "halfsquare">
            	<img src="assets/images/articleimages/0-4_blaabog_center.jpg">
            </div>
            <div class = "halfsquare gray"></div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "supertall">
        	<img src="assets/images/articleimages/blaabog_rightcollum.png">
    	</div>
    </div>
</div>
</div>