<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="leftcolumn narrowcolumn">
        	<img src="assets/images/articleimages/2-1_boy_topleft.jpg">
    	</div>
        <div class="rightcolumn text widecolumn">
            <h1 class="title">Slumområder </br> Slummens kulsorte får</h1>
        </div>
    </div>
    <div class="floater float-right heightfill black"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        <div class= "square text black">
        	Os, sod og masser af røg. Tag med på tur i Ulingans sorte og barske
			omgivelser, hvor beboerne lever af at udvinde kul på primitive kulfabrikker.
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/2-1_woman_leftcullum.jpg">
		</div>
    </div>
    <div class="centerwrap">
    	<div class = "topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/2_1.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/2_1.webm' type = "video/webm"></source>
			</video>
    	</div>
        <div class="widecolumn leftcolumn">
       		<div class="halfsquare text">
                <p><strong>Navn:</strong> Ulingan. Det ﬁlippinske ord Ulin, der betyder kul, har lagt navn til området.</p>
                <p><strong>Lokation:</strong> Området ligger indeklemt mellem en stor losseplads og en ﬂodudmunding.</p>
                <p><strong>Indbyggere:</strong> Op mod 2000.</p>
                <p><strong>Størrelse:</strong> Området, hvor der produceres kul, er over de senere år svundet betydeligt ind i
				forhold til tidligere. I dag breder Ulingan sig over et areal, der svarer til et par fodboldbaner.</p>
                <p><strong>Farer:</strong> Giftig røg og sod. Oversvømmelser.</p>
                <p><strong>Særlige kendetegn:</strong> Store sække med kul, der forlader området som perler på en snor.
				På månedlig basis produceres der op mod 6000 sække kul på Ulingans fabrikker.</p>
            </div>
        </div>
        <div class="narrowcolumn rightcolumn">
			<div class = "halfsquare">
				<img src = "assets/images/articleimages/Omraade_tile.png">
			</div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "gray halfsquare"></div>
        <div class="tall">
        	<img src="assets/images/articleimages/2-1_man_rightcullum.jpg">
        </div>
    </div>
</div>
</div>