<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="leftcolumn white widecolumn">
            <h1 class="title">Slumdysten </br>Sømsamlere</h1>
        </div>
        <div class="narrowcolumn float-right heightfill">
            <img src="assets/images/articleimages/3-1_4-1_boys_topcenter.jpg">
        </div>
    </div>
    <div class="floater float-right heightfill black"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        <div class="halfsquare text">
			Det er en hård, støvet og krævende tjans at samle søm på Ulingan kulsorte kulfabrikker.
        </div>
        <div class="tall">
            <img src="assets/images/articleimages/3-1_4-1_boy_leftcollum.jpg">
        </div>
        <div class="square white"></div>
    </div>
    <div class="centerwrap">
        <div class="topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/3_1+4_1.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/3_1+4_1.webm' type = "video/webm"></source>
			</video>
        </div>
        <div class="leftcolumn narrowcolumn">
		    <div class="halfsquare">
		        <img src="assets/images/articleimages/Slumdyst_tile.png">
		    </div>
        </div>
        <div class="rightcolumn widecolumn">
            <div class="text halfsquare">
                <p>På kulfabrikkerne i Ulingan beskæftiger de sig med at udvinde kul via kontrollerede afbrændinger. Når træet er brændt til kul, og varerne er pakket, får børnene i Ulingan lov til at samle søm og andet skrotmetal, der ligger tilbage efter afbrændingen. Manilas skrothandlere er interesserede i de afbrændte søm, som de kan smelte om og sælge videre. Derfor betaler de børnene op til ti pesos for et kilo afbrændte søm.
                </p>
				<h3>Dysten</h3><p>Jonas og Mikkel giver den gas som voksne børnearbejdere. Ligesom Ulingans områdets børn gør det til dagligt, må de to ned på alle fire og finkæmme de mange kulfabrikker i en dyst, hvor det gælder om at samle flest søm på fem minutter.</p>  
              	<h3>Om slumdysten</h3><p>
				Hvordan ville en dansker klare sig i slummen? For at blive klogere på det udfordrer tilrettelæggerne af ‘The Slum Challenge‘ sig selv og hinanden i en række prøvelser, der tager udgangspunkt i hverdagssituationer i Manilas slum. Som danske menneskelige målestokke prøver Jonas og Mikkel kræfter med arbejdsmarkedet og kulturen i en fattig filippinsk verden.
                </p>
            </div>
        </div>
    </div>
    <div class="floater float-right">
        <div class="tall">
            <img src="assets/images/articleimages/3-1_4-1_kids_rightcollum.jpg">
        </div>
    </div>
</div>
</div>