<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn white widecolumn">
			<h1 class = "title">Kulkredsløbet i Ulingan</h1>
		</div>
		<div class = "rightcolumn narrowcolumn black">
		</div>
	</div>
	<div class = "floater float-right heightfill white">
		<img src = "assets/images/articleimages/5-1_6-1_fire_rightcollum.jpg">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text tall black">
			<p><strong>Ulingan</strong></p>
			<p>På det filippinske modersmål tagalog betyder ‘ulin’ kul. Ulingan henviser derfor kort og godt til et sted, hvor der fabrikeres kul. De folk der arbejder i området kaldes Ulingeros. Det er ofte familier, der varetager kulfabrikkerne, hvor børn helt ned til 6-7-års alderen hjælper til.</p>
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer halfsquare">
			<div id ="slider" transition = "flick" imagerotation = "true">
				<div>
					<img src = "assets/images/articleimages/5-1_6-1_center_a.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/5-1_6-1_center_b.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/5-1_6-1_center_c.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/5-1_6-1_center_d.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/5-1_6-1_center_e.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/5-1_6-1_center_f.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/5-1_6-1_center_g.jpg">
				</div>
			</div>
		</div>
		<div class = "narrowcolumn leftcolumn">
			<div class = "halfsquare gray">
				<img src = "assets/images/articleimages/Slumogfattigdom_tile.png">
			</div>
		</div>
		<div class = "widecolumn rightcolumn">			
			<div class = "square text">
				<p>I Ulingan er der sort og hvidt. Huse og mennesker fremstår som mørke, tilsværtede afskygninger, mens den giftige hvide røg fylder området som en tung morgendis, der har taget permanent ophold.</p>
				<p>Man skal ikke tilbringe mange minutter i Ulingan for at konstatere, at det ikke er et sundt sted at være. Men et er at færdes der, et andet er at arbejde og leve der permanent. Tilmed klods op af de kulfabrikker, som forsager det sundhedsskadelige miljø. Men i Ulingan er soden og røgen livsgrundlaget. Her er tilværelsen og industrien bundet op på, at der skal udvindes kul, noget såvel store som små bidrager til.</p>
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "text tall">
			<p><strong>Brug af åben ild i ulande</strong></p>
			<p>Det anslås, at op mod 2.7 milliarder mennesker i det daglige anvender åben ild til madlavningen, fordi de kun har begrænset adgang til ressourcer. Det anslås at 1.4 milliarder mennesker slet ikke har adgang til elektricitet.</p>
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/5-1_6-1_coal_rightcollum.jpg">
		</div>
	</div>
</div>
</div>