<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="widecolumn leftcolumn black">
            <h1 class="title">Mød bandemedlemmet og hør hans historie</h1>
        </div>
        <div class="narrowcolumn rightcolumn">
	            <img src="assets/images/articleimages/8-1_hands_rightcollum.jpg">
        </div>
    </div>
    <div class="floater float-right heightfill black"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        <div class="square square text black">Det startede ud med smårapserier, men endte med væbnede røverier.
Fattigdommen og drømmen om et godt liv drev Victor ud i bandelivet.</div>
    </div>
    <div class="centerwrap">
        <div class="topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/8_1.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/8_1.webm' type = "video/webm"></source>
			</video>
        </div>
        <div class="widecolumn leftcolumn">
            <div class="text halfsquare">22-årige Victor De La Cruz plejede at være en rod, men i dag har han fået styr på
			tilværelsen. Inden det kom så vidt, måtte han et par gange omkring brummen i fængslet i
			Manila. For fem år siden blev han involveret i en bande, der terroriserede og hærgede i det
			område han bor i den dag i dag. Hør hans historie her.
            </div>
        </div>
        <div class="narrowcolumn rightcolumn">
        	<div class = "halfsquare gray">
        	</div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "halfsquare">
            <img src="assets/images/articleimages/Mennesker_tile.png">
        </div>
    	<div class = "square black"></div>
    </div>
</div>