<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="fillall black">
            <h1 class="title">Se om du kan tvære dine venner i ﬁlippinsk møntspil</h1>
        </div>
        <div class="rightcolumn widecolumn"></div>
    </div>
    <div class="floater float-right heightfill">
    	<img src = "assets/images/articleimages/9-1_game_rightcollum.jpg">
    </div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        <div class="text square">Overalt i slummen gambles der på livet løs i alt fra kortspil og lottotal til blodige
hanekampe. Spil, og gerne om penge, er en stor del af den ﬁlippinske gadekultur.</div>
        	<div class = "halfsquare gray"></div>
    </div>
    <div class="centerwrap">
        <div class="topcontainer halfsquare">
        	<div id ="slider" transition = "flick" imagerotation = "true">
				<div>
					<img src = "assets/images/articleimages/9-1_gallery_a.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/9-1_gallery_b.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/9-1_gallery_c.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/9-1_gallery_d.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/9-1_gallery_e.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/9-1_gallery_f.jpg">
				</div>
			</div>
       	</div>
        <div class="widecolumn leftcolumn">
            <div class="halfsquare text">
            	<p>Et af de spil der dystes ﬂittigt i, ikke mindst blandt slummens yngste beboere, er møntspil.
				Spillet ﬁndes i ﬂere varianter, men ens for dem alle er, at det gælder om at beherske
				præcision og taktisk snilde, når der skal kastes med pesos, som er den ﬁlippinske
				møntsort.</p>
				<p>Lær en af varianter her, og se om du kan tæve dine venner.</p>
				<p>Filippinsk møntspil for 2-4 spillere.</p>
				<p><strong>Det skal du bruge:</strong></p>
				<p>- en mønt per spiller (man kan eventuelt også bruge sten eller lignende)</p>
				<p>- en markeret rektangulær bane (2-4 meter lang og 1 meter bred)</p>
            </div>
        </div>
        <div class = "narrowcolumn rightcolumn">
        	<div class = "halfsquare black"></div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "halfsquare white"></div>
    	<div class = "halfsquare">
    	<img src = "assets/images/articleimages/9-1_kids_rightcollum.jpg"></div>
    	<div class = "tall gray"></div>
    </div>
</div>
</div>