<div class="topwrap">
    <div class="floater float-left heightfill black"></div>
    <div class="centerwrap">
        <div class="leftcolumn text widecolumn">
            <h1 class="title">Streetbasket i slummen</h1>
        </div>
        <div class="rightcolumn narrowcolumn"></div>
    </div>
    <div class="floater float-right heightfill black"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        <div class="text square">i Filippinerne er den ubestridte nationalsport basketball. Det ses ikke
mindst i slummen, hvor streetbasketbaner er allestedværende i gadebilledet.
        </div>
        <div class = "halfsquare">
        	<img src = "assets/images/articleimages/10-1_basket_leftcullum.jpg">
        </div>
        <div class = "halfsquare">
        	<img src = "assets/images/articleimages/Kultur_tile.png">
        </div>
    </div>
    <div class="centerwrap">
        <div class="topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/10_1.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/10_1.webm' type = "video/webm"></source>
			</video>
        </div>
        <div class="narrowcolumn leftcolumn">
        	<div class = "halfsquare black"></div>
        </div>
        <div class="widecolumn rightcolumn">
            <div class="text halfsquare">
            	<h3>Dysten</h3>
            	<p>Jonas og Mikkel partner op med et par lokale hjemmedrenge fra slumområdet Tondo og
				kaster sig ud i en streetbasket kamp mod hinanden på slummens præmisser. Se her,
				hvem der slipper bedst ud af den dyst, når det gælder om at nå de 12 point først.</p>
				<h3>Om slumdysten:</h3>
				<p> Hvordan ville en dansker klare sig i slummen? For at blive klogere på det udfordrer
				tilrettelæggerne af ‘The Slum Challenge‘ sig selv og hinanden i en række prøvelser, der
				tager udgangspunkt i hverdagssituationer i Manilas slum. Som danske menneskelige
				målestokke prøver Jonas og Mikkel kræfter med arbejdsmarkedet og kulturen i en fattig
				filippinsk verden.</p>
            </div>
		</div>
    </div>
    <div class="floater float-right">
    	<div class = "tall">
        	<img src = "assets/images/articleimages/10-1_basket_rightcullum.jpg">
    	</div>
    	<div class = "halfsquare gray"></div>    	
    </div>
</div>
</div>