<div class="topwrap">
    <div class="floater float-left heightfill">
    </div>
    <div class="centerwrap">
        <div class="widecolumn leftcolumn text black">
            <h1 class="title">Basket og burgerens andet hjemland</h1>
        </div>
        <div class = "narrowcollumn rightcolumn"></div>
    </div>
    <div class="floater float-right heightfill black"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        <div class="text halfsquare black">
    		I 48 år var Filippinerne domineret af USA, hvilket ses i den ﬁlippinske kultur, hvor
			de amerikanske aner er til at få øje på i dag.
		</div>
		<div class = "tall">
			<img src = "assets/images/articleimages/10-2_43-1_basket_leftcollum_bottum.jpg">
		</div>
    </div>
    <div class="centerwrap">
        <div class="topcontainer">
        </div>
        <div class="widecolumn leftcolumn">
            <div class="supertall text">
            <p>Man skal ikke dreje omkring mange gadehjørner for at ﬁnde ud af hvilken sportsgren, der
            er mest populær hos ﬁlippinerne. Basketball. Gaderne ﬂyder over med bolde og kurve og
            inspirationen fra USA ses også tydeligt på det professionelle plan, hvor den bedste
            ﬁlippinske ligas navn (PBA) og logo til forsveksling ligner det amerikanske ditto (NBA).
            Bevæger man sig lidt videre i gadebilledet, støder man med stor sandsynlighed også
            hurtigt på de første fem amerikanske fastfoodkæder, der sælger alt fra smagfulde burgers
            til fedtede donuts.</p>
            <strong>Amerikansk Afsmitning</strong>
            <p>Man ﬁnder næppe et asiatisk land, hvor den amerikanske afsmitning er
            så markant, som den er i Filippinerne. Øriget har en markant bismag af USA. Lige fra det
            lavkulturelle som burgere og basket til det mere samfundsomvæltende som
            grundlæggelsen af det ﬁlippinske skolesystem eller indførerelse af engelsk som ofﬁcielt
            andetsprog.</p>
            <strong>48 år med USA</strong>
			<p>Amerikaniseringen skal ses i lyset af et langstrakt historisk bånd mellem USA og
			Filippinerne i nyere tid. Da USA i 1898 overtog kontrolen efter mere end 300 år med
			spansk dominans, var det ikke uden militant oprør fra Filippinerne. Efter et par år døde
			konﬂikten stille og roligt ud, og efter at have kæmpet side om side under Første
			Verdenskrig var forholdet stabiliseret. Filippinerne forblev på amerikanske hænder i 48 år
			frem til 1946, hvor øriget opnåede selvstændighed. Siden da har båndene mellem de to
			lande været tætte.</p>
			<h3>Filippinsk historie gennem nyere tid:</h3>
			<p><strong>1565:</strong> Spanien koloniserer øriget, der kommer under spansk herredømme.</p>
			<p><strong>1898:</strong> Efter den spansk-amerikanske krig bliver Filippinerne afstået til USA</p>
			<p><strong>1935:</strong> USA garanterer Filippinerne selvstændighed inden for ti år.</p>
			<p><strong>1942:</strong> Japan besætter Filippinerne i forbindelse med Anden Verdenskrig. Da anden Verdenskrig slutter er øriget igen</p>
			<p><strong>1946:</strong> Endelig aftale om uafhængighed med USA. I en årrække fortsætter USA med at have militære baser og privilegier i Filippinerne mod økonomisk kompensation.</p>
			<p><strong>1992:</strong> De sidste amerikanske styrker forlader landet.</p>
            </div>
        </div>
        <div class="narrowcolumn rightcolumn">
        	<div class  = "halfsquare">
            	<img src="assets/images/articleimages/10-2_43-1_illustration_center_rightcollum.jpg">
        	</div>
        	<div class  = "halfsquare gray">
        	</div>
        	<div class  = "halfsquare">
    			<img src = "assets/images/articleimages/10-2_43-1_jollibee_leftcollum_top.jpg">
        	</div>
          	<div class = "halfsquare" id = "Quiz" question = "Hvilken fastfoodkæde er størst i Filippinerne?" answers = "Burger King;Jollibee;McDonalds" correctanswer = "2"></div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "square">
    		<img src = "assets/images/articleimages/10-2_43-1_burgerbar_rightcollum.jpg">
    	</div>
    	<div class = "halfsquare gray">
    		<img src = "assets/images/articleimages/Omraade_tile.png">
		</div>
    </div>
</div>
</div>