<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="leftcolumn narrowcolumn white"></div>
        <div class="rightcolumn text widecolumn black">
            <h1 class="title">Den daglige kamp for mad</h1>
        </div>
    </div>
    <div class="floater float-right heightfill white"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        <div class="text square">
        	Som gadebarn har dagen masser af gøremål. Det mest vitale for
			gadedrengen Raven er at skaffe mad. Se, hvordan en typisk dag på gaden forløber for
			Raven.
		</div>
    	<div class = "halfsquare black">
        </div>
    </div>
    <div class="centerwrap">
        <div class="topcontainer halfsquare">
            <div id="slider" transition="flick" imagerotation="true">
                <div>
                    <img src="assets/images/articleimages/13-2_kl7-10_gallery.jpg">
                </div>
                <div>
                    <img src="assets/images/articleimages/13-2_kl8-02_gallery.jpg">
                    <div><p><strong>08.02</strong> - Når sulten er stillet, går jeg ud og samler plastic og andet skrald, der kan sælges.
						Det gælder om at være så tidligt ude som muligt, ellers tager de andre gadebørn og
						samlere alt skraldet.</p>
                    </div>
                </div>
                <div>
                    <img src="assets/images/articleimages/13-2_kl11-12_gallery.jpg">
                </div>
                <div>
                    <img src="assets/images/articleimages/13-2_kl11-55_gallery.jpg">
                </div>
                <div>
                    <img src="assets/images/articleimages/13-2_kl13-57_gallery.jpg">
                </div>
                <div>
                    <img src="assets/images/articleimages/13-2_kl15_gallery.jpg">
                </div>
                <div>
                    <img src="assets/images/articleimages/13-2_kl16-13_gallery.jpg">
                </div>
                <div>
                    <img src="assets/images/articleimages/13-2_kl20-30_gallery.jpg">
                </div>
                <div>
                    <img src="assets/images/articleimages/13-2_kl01-02_last_gallery.jpg">
                </div>
            </div>
        </div>
        <div class="narrowcolumn leftcolumn">
        	<div class = "halfsquare" id = "Quiz" question = "Op mod 1.5 millioner børn lever på gaden i Filippinerne. Hvor mange gadebørn skønnes der at være på Verdensplan?" answers = "Cirka 50 millioner;Cirka 100 millioner;Cirka 200 millioner" correctanswer = "1"></div>
		</div>
        <div class="widecolumn rightcolumn">
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "halfsquare">
    		<img src = "assets/images/articleimages/13-2_quote_leftcollum.png">
		</div>
    	<div class = "halfsquare gray">
    		<img src = "assets/images/articleimages/Kultur_tile.png">
		</div>
</div>
</div>