<div class="topwrap">
    <div class="floater float-left heightfill black">    	
    	<img src = "assets/images/articleimages/logo_tile.png">
    </div>
    <div class="centerwrap">
        <div class="leftcolumn text widecolumn black">
            <h1 class="title">Kaptajnen i slummen</h1>
        </div>
        <div class="rightcolumn narrowcolumn"></div>
    </div>
    <div class="floater float-right heightfill black"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
    	<div class = "halfsquare gray">
    		<img src = "assets/images/articleimages/15-1__17-1_36-1_45-1_street_leftcollum.jpg">
    	</div>
        <div class="text square black">Ved roret i slummens lokalsamfund står den såkaldte barangay-kaptajn. Et
demokratisk valgt overhoved, der har stor indﬂydelse på livet i slummen.</div>
    </div>
    <div class="centerwrap">
        <div class="topcontainer">
        </div>
        <div class="widecolumn leftcolumn">
        	<div class = "tall text white">
                <strong>Barangay:</strong> <p>Barangay er et ﬁlippinsk ord, der omsat til dansk betyder landsby. Alle
                ﬁlippinske byer og bydele er brudt ned i mindre distrikter eller samfund, de såkaldte
                barangay-distrikter. På landsplan ﬁndes der 42.028 Barangay-distrikter i Filippinerne.
                Størrelse og indbyggertal i distrikterne varierer fra et par tusinde til mere end en million
                indbyggere. Omsætter man den politiske betydning af et barangay-distrikt til danske
                forhold svarer det omtrentligt til et byråd, der har en række ekstra opgaver og beføjelser i
                lokalsamfundet.</p>
                <strong>Kaptajnen:</strong> <p>Barangay-kaptajnen kan betegnes som overhovedet eller borgmesteren i
                distriktet. Posten som barangay-kaptajn er ﬁlippinernes mindste administrative politiske
                instans og udpeges ved demokratisk valg i distrikterne hvert andet år.</p>
                <strong>Kampen om stemmerne:</strong> <p>I slumområderne spiller barangay-kaptajnen ofte en væsentlig
                rolle, når det kommer til den voksende slum. Selvom det formelt set er ham, der er
                ansvarlig for at sikre, at tilflyttere ikke slår sig ulovligt ned på steder, som ikke er
                hensigtmæssigt til beboelse, vælger flere barangay-kaptajner at se passivt til. Jo flere
                beboere en kaptajn kan registrere i sit område, jo flere stemmer har vedkommende
                mulighed for at fiske til den efterfølgende valgperiode. Ofte indgår kaptajnerne
                studehandler med tilflyttere om, at de får lov at slå sig ned i distriktet, mod at de sætter
                krydset ved ham i forbindelse med næste valg. På den måde kan barangay-kaptajnen
                sikre sig endnu en magtfuld periode i lokalsamfundet.</p>
                <strong>Politi:</strong> <p>Hver Barangay-distrikt har egne politibetjente, de såkalte tanods (ﬁlippinsk ord for
                sikkerhedsværn), der udfører en række basale politiopgaver i området. Det er Barangay-
                kaptajnen, der fører tilsyn med de lokale politibetjentene, og ofte også kaptajnen som selv
                sager tager stilling til, hvad der skal ske med lokalsamfundets lovovertrædere.</p>
        	</div>
        </div>
        <div class="narrowcolumn rightcolumn">
        	<div class="square">        		
				<img src = "assets/images/articleimages/15-1__17-1_36-1_45-1_street_center.jpg">				       	
       		</div>
       		<div class = "halfsquare" id = "Quiz" question = "Hvor mange barangay-distrikter findes der i Metro Manila største slumområde, der er hjem for mere end 650.000 indbyggere?" answers = "72;127;259" correctanswer = "2"></div>
        	<div class="halfsquare white"> 
    			<img src = "assets/images/articleimages/Mennesker_tile.png">       					       	
       		</div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class="halfsquare white">        					       	
   		</div>
    	<div class = "halfsquare black">
    		<img src = "assets/images/articleimages/15-1__17-1_36-1_45-1_girl_righttcollum.jpg">
    	</div>
    </div>
</div>
</div>