<div class="topwrap">
    <div class="floater float-left heightfill">
    		<img src = "assets/images/articleimages/logo_tile.png"></div>
    <div class="centerwrap">
        <div class="leftcolumn narrowcolumn black"></div>
        <div class="rightcolumn text widecolumn"><h1 class="title">Slummens køretøjer</h1></div>
    </div>
    <div class="floater float-right heightfill black"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
    	<div class = "halfsquare">
    		<img src = "assets/images/articleimages/16-1_leftcollum.jpg">
    	</div>
        <div class="text square black">Tidspres, udmattelse eller enorme afstande. Af og til er det nødvendigt at bruge
den kollektive traﬁk i megabyen Manila. Men hvilket transportmiddel er det fortrukne?
		</div>
    </div>
    <div class="centerwrap">
        <div class="topcontainer">
        </div>
        <div class="widecolumn leftcolumn">
        	<div class="text square">
        		<p>	Enhver storby med respekt for sig selv har sit helt eget genkendlige transportmiddel. I New
				York har de den panggule taxi-ﬂåde og i London er det de knaldrøde dobbeltdækkere, der
				præger bybilledet. I Manilas kaotiske traﬁk er der især to køretøjer, der fragter slummens
				beboere rundt i megabyen.</p>
	            <p><h2>Jeepney</h2></p>
				<p><strong>Passagerer:</strong> 20, men jo ﬂere jo bedre.</p>
				<p><strong>Antal i Manila:</strong> Omtrent 50.000</p>
				<p><strong>Pris:</strong> 8-12 pesos afhængig af strækningen.</p>
				<p><strong>Historie:</strong> Filippinernes mest benyttede køretøj. De små lavloftede og farvestrålende
				busser er et levn fra Anden Verdenskrig. Da størstedelen af de amerikanske soldater
				forlod landet efter krigen, efterlod de et stort antal jeeps på Filippinerne. Dem byggede
				lokalbefolkningen om, og i dag er de en uundværlig brik i spillet om, at få den kollektive
				traﬁk til at gå op.</p>
				<p><strong>Fordele:</strong> Billige. Selv slummens beboere kan være med.</p>
				<p><strong>Ulemper:</strong> Pladsmangel. Passagerne sidder som sild i en tønde.</p>
				<p><strong>Sluminfo:</strong> Mange gadebørn bruger Jeepneyen som afsæt til at tjene penge. Eksempelvis
				ved at tigge eller pudse passagernes sko undervejs på ruten, eller ved at hjælpe
				chaufførerne med at fylde jeepneyen med passagerer på stoppestederne.</p>
	            <p><h2>Tricycles</h2></p>
				<p><strong>Passagerer:</strong> Normalt 3-4, men at få 10 personer ombord i en tricycle er ikke umuligt.</p>
				<p><strong>Antal i Manila:</strong> Over 3 millioner registrerede.</p>
				<p><strong>Pris:</strong> En tur ligger typisk mellem 10-50 pesos.</p>
				<p><strong>Historie:</strong> De trehjulede motorcykler ﬁndes i et væld af forskellige hjemmebyggede
				udgaver. En af de mekaniske hovedingredienser er aﬂagte autodele fra japanske
				køretøjer. Generelt er der dog stor opﬁndsomhed, når det kommer til motorcyklerne.
				Således tøffer ﬂere kasserede skibsmotorer i øjeblikket rundt i Manila og samler
				passagerer op.</p>
				<p><strong>Fordele:</strong> Kommer hurtigt og nemt rundt i storbyens tætpakkede traﬁk.</p>
				<p><strong>Ulemper:</strong> Dyrere end Jeepney. Mange af cyklerne er i dårlig stand, hvorfor de er forment
				adgang i visse knudepunkter i Manilas traﬁk.</p>
				<p><strong>Sluminfo:</strong> At være tricyclechauffør er et erhverv, der er tæt beslægtet med slummen.
				Mange af chaufførerne bor og sover i deres køretøj, som de parkerer i slumområderne.</p>				
			</div>
		</div>
        <div class="narrowcolumn rightcolumn">
        	<div class="square white">
        		<img src = "assets/images/articleimages/16_center.png">
        	</div>
        	<div class = "halfsquare" id = "Quiz" question = "Trafik og luftforurening hænger ofte sammen. I Manila er trafikken tættere end i København, men hvor meget mere forurenet er luften?" answers = "Fire gange så forurenet;Seks gange så forurenet;Ni gange så forurenet" correctanswer = "1"></div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "halfsquare">
    		<img src = "assets/images/articleimages/Kultur_tile.png"></div>
    	<div class = "square gray">    		
    		<img src = "assets/images/articleimages/16_rightcullum.png">
    	</div>
    </div>
</div>
</div>