<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap text black">
        <h1 class="title">Opﬁndsomhed skaber jobs</h1>
    </div>
    <div class="floater float-right heightfill"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        <div class="text square black">For mange fattige, voksne ﬁlippinere er det svært at komme ind på
arbejdsmarkedet. Alligevel lykkes det for slummens børn at skrabe penge sammen via en
opsøgende og initiativrig attitude.
        </div>
        <div class = "halfsquare gray"></div>
    </div>
    <div class="centerwrap">
       <div class="topcontainer">
       </div>
        <div class="widecolumn leftcolumn">
        	<div class = "text heightfill">
	            <p> Man skal være kreativ. Og så skal man kunne se muligheder og opsøge dem. Sådan
				forholder det sig i følge Fred Cabredo, hvis man som barn på gaden eller i slummen, vil
				have succes med at tjene penge.</p>
				<p>Fred Cabredo er socialarbejder og tilknyttet organisationen Kanlungan, der kæmper for
				børns rettigheder i Filippinerne. I det daglige færdes han i Manilas gademiljø, hvor han
				arbejder med udsatte børn og unge. Her har han lagt mærke til, hvordan børnene tænker
				kreativt i jagten på penge.</p>
				<h3>Talentfulde arbejdere</h3>
				<p>“De har et talent for at tilegne sig den enkelte situation og vende til noget, der kan tjene
				penge på,” fortæller Fred. Han fremhæver de hyppige tropiske regnskyl, som en af de
				situationer, der udnyttes til at luske penge ud af folk.</p>
				<p>“De smider sæbe på bilruderne og pudser løs, når traﬁkken står stille. Der, hvor det vrimler
				med gående, ligger de stier ud, så forbipasserende kan komme tørskoet frem, hvis der er
				oversvømmelse i gaderne. I begge tilfælde kræver de så efterfølgende et mindre gebyr for
				servicen,” fortæller Fred.</p>
				<p>Og det er ikke kun de tropiske regnskyl slummens børn udnytter. Herunder følger en
				række småjobs, som ifølge Fred Cabredo typisk udføres af gadebørn og som er med til at
				sikre dem mad på bordet i det daglige:</p>
				<p><strong>Skopudsere: </strong>Når folk er på vej til og fra arbejde hopper børnene på Jeepneyerne for at
				pudse sko.</p>
				<p><strong>Sangere:</strong> Op til jul og ved andre højtider bruger børnene også Jeepneyerne som scene,
				når de synger for passagererne i håb om at deres optræden kaster et par mønter af sig.</p>
				<p><strong>Sælgere: </strong>Ved indfaldsvejene bevæger børnene sig rundt i traﬁkken og sælger alt fra
				cigaretter og snacks til bilisterne.</p>
				<p><strong>Parkering:</strong> Her er der hele tre indtjeningsmuligheder. Børnene holder pladserne optaget,
				så bilisterne kan parkere, når de ankommer. Børnene guider bilisterne under
				parkeringen. Børnene holder vagt ved bilerne, når ejerne er væk.</p>
				<p><strong>Skraldesamlere:</strong> Krøllede coladåser, farverige plasticbeholdere eller sammenfoldede
				papkasser. Manila indeholder og generer på daglig basis bjerge af skrald, og det tjener
				rigtig mange børn penge på at samle og sælge videre.</p>
				<p><strong>Bærere:</strong> Hvis noget er for tungt, uhandy eller skal ﬂyttes giver børnene gerne en
				hjælpende hånd med. Specielt hvis det kaster en peso eller to af sig.</p>
				<p><strong>Råbere:</strong> I den kollektive traﬁks knudepunkter tager børnene opstilling ved
				opsamlingspladserne. Her råber de Jeepneyrnes destinationer og hjælper chaufførerne
				med at fylde busserne, så de hurtigt kan komme videre.</p>
				<h3>Arbejdsløshed i Filippinerne</h3>
				<p>I Filippinerne stod mere end 12 millioner mennesker uden job ved udgangen af 2013 og
				ledigheden blandt den samlede arbejdsstyrke var omkring syv procent. Det er især de
				unge og befolkningen i den fattige del af samfundet, der har svært ved at komme ind på
				arbejdsmarkedet. Arbejdsløsheden blandt unge ligger på mere end 17 procent.</p>
           </div></div>
        <div class="narrowcolumn rightcolumn">
        	<div class = "halfsquare">
        		<img src = "assets/images/articleimages/19-1_man_center.png">
        	</div>
        	<div class = "halfsquare gray">
        		<img src = "assets/images/articleimages/Arbejde_tile.png">
        	</div>
        	<div class = "halfsquare">
        		<img src = "assets/images/articleimages/19-1_boat_center.png">
        	</div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "square">
    		<img src = "assets/images/articleimages/19-1_rightcullum.png">
		</div>
        <div class="black halfsquare">
        </div>
    </div>
</div>
</div>