<div class="topwrap">
    <div class="floater float-left heightfill">
        		<img src = "assets/images/articleimages/logo_tile.png"></div>
    <div class="centerwrap">
        <div class = "widecolumn leftcolumn white">
        	<h1 class="title">Slumdysten </br>Gadesælger i Manila</h1>
    	</div>
    	<div class = "narrowcolumn rightcolumn">
    		<img src = "assets/images/articleimages/Slumdyst_tile.png">    		
    	</div>
    </div>
    
    <div class="floater float-right heightfill black"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        <div class="text square">Et af de jobs, der beskæftiger børn og unge i slummen er salg af snacks
i traﬁkken. En svær disciplin, hvor det gælder om at slå til, når traﬁkken står stille.
        </div>
        <div class = "halfsquare">
        		<img src = "assets/images/articleimages/19-2_leftcullum.png">
        </div>
    </div>
    <div class="centerwrap">
        <div class="topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/19_2.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/19_2.webm' type = "video/webm"></source>
			</video>
       </div>
        <div class="narrowcolumn leftcolumn">
        	<div class = "halfsquare gray "></div>
        </div>
        <div class="widecolumn rightcolumn">
        	<div class="text halfsquare">
        		<strong>Dysten:</strong>
				<p>Bevæbnet med snacks og drikkevarer bevæger Jonas og Mikkel sig ud i Manilas maniske
				traﬁk for at se, hvem der har størst potentiale som gadesælger. Der kan ikke pruttes om
				prisen, så det gælder om at sælge mest på de 15 minutter, der er til rådighed, mens
				køretøjerne suser om ørerne midt i myldretiden.</p><strong>Om slumdysten:</strong>
				<p>Hvordan ville en dansker klare sig i slummen? For at blive klogere på det udfordrer
				tilrettelæggerne af ‘The Slum Challenge‘ sig selv og hinanden i en række prøvelser, der
				tager udgangspunkt i hverdagssituationer i Manilas slum. Som danske menneskelige
				målestokke prøver Jonas og Mikkel kræfter med arbejdsmarkedet og kulturen i en fattig
				filippinsk verden.</p>
			</div>
		</div>
    </div>
    <div class="floater float-right">
        <div class = "square">
        		<img src = "assets/images/articleimages/19-2_rightcullum.png">
        </div>
    </div>
</div>
</div>