<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="leftcolumn text widecolumn black">
            <h1 class="title">Status i fastfood</h1>
        </div>
        <div class="rightcolumn narrowcolumn"></div>
    </div>
    <div class="floater float-right heightfill black"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
        	<div class = "halfsquare">
			</div>
        	<div class = "square text black">
        		I slummen i Filippinerne vælger de ikke kun kaloriebomberne på grund af
smagen. Her er fastfood kædernes produkter nemlig også statussymboler.
        	</div>
        	<div class = "halfsquare">
    			<img src = "assets/images/articleimages/Kultur_tile.png">
			</div>
		</div>
    <div class="centerwrap">
        <div class="topcontainer">
        </div>
        <div class="widecolumn leftcolumn">
            <div class="text square">
            	<p>En stor saftig burger eller en omgang friturestegte, sprøde kyllingevinger. Selvom det er
				usundt, kan det være tiltalende. Ikke mindst hvis man bor i slummen. Her er det at spise
				vestligt inspireret fastfood nemlig et tegn på velstand, der giver status. Derfor er det ikke
				usædvanligt, at slummens børn og unge skraber deres sparepenge sammen, og brænder
				dem af på et knapt så nærende måltid for at vinde popularitet hos vennerne.</p>
				<strong>Fed føde farlig for de fejlernærede</strong>
				<p>I Filippinerne er hvert femte barn under 5 år undervægtig, mens 17 procent af den den
				samlede befolkning er kronisk underernærede. De to faktorer er ikke helt uvæsentlige, hvis
				man indtager usund kost som fastfood.</p>
				<p>Får et barn ikke den rette mængde ernæring fra undfangelsen og de første 1000 dage
				efter fødslen risikerer barnet at halte fysisk efter resten af livet. Fænomenet kaldes
				stunting og er et stort problem i mange ulande, da stunting ligeledes skader
				indlæringsevnen permanent og gør kampen mod analfabetisme og fattigdom endnu
				hårdere.</p>
				<strong>Stunting</strong><p>Er man ramt af stunting eller kronisk underernæring, vender fordøjelsens sig til at
				forbrænde mindre. Derfor er risikoen for overvægt og følgesygdomme som diabetes og
				hjertekarsygdomme langt større hos de underernærede end hos velernærede, hvis man
				indtager fed kost som fastfood.</p>
				<p>I takt med den stigende urbanisering frygter forskere, at mange ulande kan stå overfor en
				fedmeepidemi. I storbyen indtager folk i højere grad færdigproduceret mad, der indeholder
				masser af fedt, salt og sukker, hvor kosten uden for byerne er mere varieret og typisk
				består af lokale råvarer. En drastisk ændring af kostvaner rammer ekstra hårdt, hvis man i
				forvejen er underernæret.</p>
				<p>Ifølge tal fra UNICEF vokser 180 millioner børn på verdensplan op med stuntning.</p>
            </div>
        </div>
        <div class="narrowcolumn rightcolumn">
        	<div class = "supertall">
    			<img src = "assets/images/articleimages/20-1_rightcollum.png">
    		</div>
        	<div class = "square gray"></div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "halfsquare" id = "Quiz" question = "I Filippinerne er hvert femte barn under fem år undervægtigt, men i hvilket uland finder man flest undervægtige børn under fem?" answers = "Etiopien;Vietnam;Niger" correctanswer = "2"></div>
    	<div class = "square">
    			<img src = "assets/images/articleimages/20-1_leftcollum.png">
    	</div>
    </div>
</div>
</div>