<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="leftcolumn widecolumn white">
        	<h1 class="title">Slumområder </br>Dødens slum</h1>
        </div>
        <div class="rightcolumn  narrowcolumn black">
        	<img src = "assets/images/articleimages/21-1_leftcullum.png">        	
        </div>
    </div>
    <div class="floater float-right heightfill"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
    	<div class="text square">Ligvogne i pendulfart, sørgende pårørende og ﬂere 100.000 begravede.
		Tag med til slumområdet på Manila North Cemetery, hvor de lever side om side med døden.</div>
    	<div class = "square">
    		<img src = "assets/images/articleimages/20-1_leftcollum.png"></div>
	</div>
    <div class="centerwrap">
        <div class="topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/21_1.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/21_1.webm' type = "video/webm"></source>
			</video>
        </div>
        <div class="narrowcolumn leftcolumn">
    	<div class = "halfsquare gray">
    		<img src = "assets/images/articleimages/Omraade_tile.png">
		</div>
    	</div>
        <div class="widecolumn rightcolumn"><div class="text halfsquare"><p><strong>Navn:</strong> Manila North Cemetery - Manilas største kirkegård.</p>
                <p><strong>Lokation:</strong> Kirkegården ligger klods op af to andre større kirkegårde i den nordvestlige del
af bydelen Tondo.</p>
                <p><strong>Indbyggere:</strong> Flere end 10.000</p>
                <p><strong>Størrelse:</strong> 0,54 km2</p>
                <p><strong>Farer:</strong> Ser man bort fra de morbide omgivelser, er Manila North Cemetery et relativ sikkert
slumområde at bo i.</p>
                <p><strong>Særlige kendetegn:</strong> En gang årligt rykker beboerne på North Cemetery ud af
kirkegården, når de afdødes pårørende valfarter til for at hylde deres begravede
familiemedlemmer på helligdagen All Saints Day.</p></div></div>
    </div>
    <div class="floater float-right">
    	<div class = "halfsquare">    		
    		<img src = "assets/images/articleimages/21-1_rightcullum.png">
    	</div>
        <div class="tall">
    		<img src = "assets/images/articleimages/21-1_tower_rightcullum.png">
        </div>
    </div>
</div>
</div>