<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="leftcolumn narrowcolumn white"></div>
        <div class="rightcolumn text widecolumn black"><h1 class="title">Arbejdet med døden</h1></div>
    </div>
    <div class="floater float-right heightfill white"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
    	<div class="text black square">Beboerne på Manila North Cemetery bor ikke kun med døden. De tjener
også penge på den. Her er en håndfuld gængse jobs, for kirkegårdens levende beboere.</div>
	</div>
    <div class="centerwrap">
        <div class="topcontainer halfsquare">
            <div id="slider" transition="flick" imagerotation="false">
                <div>
                    <img src="assets/images/articleimages/21-2_1_gallery.png">
                </div>
                <div>
                    <img src="assets/images/articleimages/21-2_2_gallery.png">
                </div>
                <div>
                    <img src="assets/images/articleimages/21-2_3_gallery.png">
                </div>
                <div>
                    <img src="assets/images/articleimages/21-2_4_gallery.png">
                </div>
                <div>
                    <img src="assets/images/articleimages/21-2_5_gallery.png">
                </div>
                <div>
                    <img src="assets/images/articleimages/21-2_6_gallery.png">
                </div>
            </div>
        </div>
        <div class="narrowcolumn leftcolumn">
        	<div class = "halfsquare" id = "Quiz" question = "I Danmark er den gennemsnitlige levealder 79 år, men hvad er den i Filippinerne?" answers = "69 år;74 år;81 år" correctanswer = "0"></div>
		</div>
        <div class="widecolumn rightcolumn">
        	<div class = "halfsquare text">
        		<p>“Den enes død er den andens brød,” lyder et ordsprog. Og sådan forholder det sig
						bogstaveligt talt på Manila North Cemetery, hvor ﬂere af kirkegårdens beboerne har
						formået at skabe sig en karriere, der kan relateres til døden.</p>
        	</div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "halfsquare white">
            <img src="assets/images/articleimages/Kultur_tile.png">
        </div>
    	<div class="halfsquare black">
            <img src="assets/images/articleimages/21-2_leftcullum.png">
            </div>
    </div>
</div>
</div>