<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="leftcolumn widecolumn white">
        	<h1 class="title">Slumområder </br>Slummen på stranden</h1>
    	</div>
        <div class="rightcolumn narrowcolumn">        	
    		<img src = "assets/images/articleimages/23-1_basket_top.jpg">
        </div>
	</div>
    <div class="floater float-right heightfill"></div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
    	<div class="halfsquare text">
    		Tag med til Baseco, hvor, slum, strand og skrald forenes i maritime omgivelser.
		</div>
		<div class = "square gray">
    		<img src = "assets/images/articleimages/23-1_fishing_leftcullum.jpg">
		</div>
	</div>
    <div class="centerwrap">
        <div class="topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/23_1.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/23_1.webm' type = "video/webm"></source>
			</video>
        </div>
        <div class="narrowcolumn leftcolumn">
        	<div class = "halfsquare">
    			<img src = "assets/images/articleimages/Omraade_tile.png">
        	</div>
        </div>
        <div class="widecolumn rightcolumn">
            <div class="halfsquare text">
                <p><strong>Navn:</strong> Baseco. Slummen er opkaldt efter et større ﬁlippinsk shippingﬁrma, der holder til i
området.</p>
                <p><strong>Lokation:</strong> Slumområdet ligger klemt inde mellem en af Manilas største industri- og
containerhavne og udmundingen af Pasig ﬂoden.</p>
                <p><strong>Indbyggere:</strong> Op mod 300.000</p>
                <p><strong>Størrelse:</strong> 0,52 km2</p>
                <p><strong>Farer:</strong> Oversvømmelser. Malaria. Brand.</p>
                <strong>Særlige kendetegn:</strong>
                <p>Over årenes løb har Baseco været særlig hårdt ramt af store brande,
der har efterladt tusinder af beboere med nedbrændte boliger. En blanding af ekstrem tæt
beboelse, brug af åben ild og autoriserede el-tilslutniger gør området særligt udsat.</p>
            </div>
        </div>
    </div>
    <div class="floater float-right">
    	<div class = "tall">    		
    		<img src = "assets/images/articleimages/23-1_rightcullum.jpg">
    	</div
	</div>
</div>
</div>