<div class="topwrap">
    <div class="floater float-left heightfill"></div>
    <div class="centerwrap">
        <div class="leftcolumn text widecolumn black">
            <h1 class="title">Slumdysten </br>Strandskraldere</h1>
        </div>
        <div class="rightcolumn narrowcolumn">
			<img src = "assets/images/articleimages/Slumdyst_tile.png">
        </div>
    </div>
    <div class="floater float-right heightfill black">
	</div>
</div>
<div class="mainwrap">
    <div class="floater float-left">
		<div class = "square">
			<img src = "assets/images/articleimages/23-2_leftcollum.jpg">
		</div>
    	<div class="text square">
    		
        	På lossepladsen i Baseco ﬂyder det med penge. Eller i hvert fald skrald,
			der kan veksles til penge, noget mange af områdets børn benytter sig af.
	    	
		</div>
	</div>
	<div class="centerwrap">
	    <div class="topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/23_2.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/23_2.webm' type = "video/webm"></source>
			</video>
		</div>
	    <div class="narrowcolumn leftcolumn">
		    <div class="halfsquare gray">
		    	<img src="assets/images/articleimages/23-2_boys_center.jpg">
		    </div>
	    </div>
	    <div class="widecolumn rightcolumn">
	        <div class="text halfsquare">
	        	<strong>Dysten</strong>
		        <p>I jagten på plastic trawler Jonas og Mikkel sig gennem en ildelugtende losseplads, der
				ligger i strandkanten i Baseco. Hvem ﬁnder det bedste plastic, og hvem har mest held med
				at afsætte det til den lokale skrothandler efterfølgende? Find ud af det her, når Jonas og
				Mikkel får fem minutter til at fylde sækken.</p>
	        	<strong>Om slumdysten</strong>
	            <p>Hvordan ville en dansker klare sig i slummen? For at blive klogere på det udfordrer
				tilrettelæggerne af ‘The Slum Challenge‘ sig selv og hinanden i en række prøvelser, der
				tager udgangspunkt i hverdagssituationer i Manilas slum. Som danske menneskelige
				målestokke prøver Jonas og Mikkel kræfter med arbejdsmarkedet og kulturen i en fattig
				filippinsk verden.</p>
	        </div>
	    </div>
	</div>
	<div class="floater float-right">
		<div class = "square">
			<img src = "assets/images/articleimages/23-2_rightcollum.jpg">
		</div>
	    <div class="halfsquare gray">
	    </div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/23-2__beach_rightcollum.jpg">
		</div>
	</div>
</div>