<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn text widecolumn black">
			<h1 class = "title">Skraldejægeren Raven</h1>
		</div>
		<div class = "rightcolumn narrowcolumn">
		</div>
	</div>
	<div class = "floater float-right heightfill black"></div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/23-3_leftcullum.jpg">
		</div>
		<div class = "text square black">
			For mange af Manillas fattige er den mest stabile indkomst, det andre smider ud. Gadedrengen Raven er en af de mange, der tjener penge på at samle skrald.
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Arbejde_tile.png">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer"></div>
		<div class = "widecolumn leftcolumn">
			<div class = "text tall">
				<p>Krøllede coladåser, alverdens farverige plasticbeholdere og brune sammenfoldede papkasser. Når gadedrengen Raven stempler ind på arbejde, sker det som oftest på lossepladser, i containere og andre steder, hvor der dumpes affald. Men den 14-årige gadedreng er ikke renovationsarbejder. Han samler affald og sælger det videre, så han har råd til at købe de basale fornødenheder som mad og vand.</p>
				<h3>En femmer på en god dag</h3>
				<p>“På en god dag tjener jeg omkring 40 pesos (svarer cirka til fem danske kroner). Nogen af de andre gadedrenge kan tjene op mod 100 pesos, hvis det går godt, ” siger Raven. Sammen med en stor gruppe af gadebørn holder han ofte til i Binondo, et område, der ligger i hjertet i Manila.</p>
				<p>“Det er svært at finde skrald, når man befinder sig midt inde i storbyen. Der er mange skraldesamlere om buddet, og derfor er det også begrænset, hvor meget skrald, man kan finde herinde,” siger Raven. Han fortæller, at han gerne tager nord for Metro Manila, hvor mange skraldebiler læser af på gader og stræder tæt på byens store skraldepladser.</p>
				<h3>Svingende priser</h3>
				<p>Priserne på skraldet svinger fra skrothandler til skrothandler. Hos Ravens foretrukne er prisniveauet relativ stabilt. “Jeg leder som regel efter plastic. Kiloprisen for plastic er ikke den højste, men heller ikke den laveste. Derudover er det noget af det, der er nemmest at finde, hvad end jeg samler her i Binondo eller lidt uden for byen,” siger Raven.</p>
				<p>Ifølge en undersøgelse foretaget af den asiatiske udviklingsbank (Asian Development Bank, 2012) er mere end 150.000 mennekser i Manila økonomisk afhængige af byens affald. På daglig basis udvindes mere end 8700 ton husholdningsaffald i Manila. Størstedelen af skrottet sendes til Kina, hvor det smeltes om og genbruges.</p>
			</div>
		</div>
		<div class = "narrowcolumn rightcolumn">
			<div class = "supertall">
				<img src = "assets/images/articleimages/23-3_center.png">
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "square">
			<img src = "assets/images/articleimages/23-3__trash_rightcollum.png">
		</div>
		<div class = "halfsquare gray"></div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/23-3_plastic_rightcollum.png">
		</div>
	</div>
</div>
</div>