<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn narrowcolumn white">
		</div>
		<div class = "rightcolumn text widecolumn black">
			<h1 class = "title">Definitionen af et gadebarn</h1>
		</div>
	</div>
	<div class = "floater float-right heightfill">
		<img src = "assets/images/articleimages/24-1_26-1_40-2_43-1_kids_rightcullum.jpg">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text square">
			På verdensplan findes der flere forskellige definitioner af, hvad et gadebarn er. I flere filippinske organisationer, som til dagligt arbejder med Manilas gadebørn, opdeler de børnene i tre forskellige kategorier.
		</div>
		<div class = "halfsquare gray">
			<img src = "assets/images/articleimages/24-1_26-1_40-2_43-1_leftcullum.jpg">
		</div>
		<div class = "halfsquare gray">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer halfsquare">
			<div id = "slider" imagerotation = "true">
				<div>
					<img src = "assets/images/articleimages/24-1_26-1_40-2_43-1_bebe_gallery.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/24-1_26-1_40-2_43-1_curlot_gallery.jpg">
				</div>
				<div>
					<img src = "assets/images/articleimages/24-1_26-1_40-2_43-1_louie_gallery.jpg">
				</div>
			</div>
		</div>
		<div class = "narrowcolumn leftcolumn">
		<div class = "halfsquare gray">
			<img src = "assets/images/articleimages/Kultur_tile.png">
		</div>
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "halfsquare text">
				<p><h1>De 3 typer gadebørn</h1></p>
				<h3>BØRN PÅ GADEN</h3>
				<p>Gadebørnene i denne kategori har et hjem i et samfund, som de kan vende hjem til på daglig basis. Mange vender dog kun hjem i sjælden grad, da de foretrækker at arbejde på gaden eller tilbringe tid med den gruppe, de har fundet sammen med i gademiljøet.</p>
				<h3>BØRN AF GADEN</h3>
				<p>Disse børn kender kun til livet på gaden, da de er født her og har fået deres opvækst i gademiljøet. Nogen bor med forældrene frem til de selv stifter familie, mens andre vælger at finde sammen med større grupper af andre gadebørn, typisk omkring teenagealderen.</p>
				<h3>FORLADTE BØRN</h3>
				<p>Børnene i denne kategori er permanent bosat på gaden, men har ikke altid været det. De er 100 procent overladt til sig selv og er typisk blevet forladt eller forvist af deres forældre. Mange har dog også selv valgt at stikke af fra hjemmet, ofte som følge af misbrug i familien eller i håbet om at finde en bedre tilværelse på gaden.</p>
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "halfsquare gray">
		</div>
		<div class = "square gray">
			<img src = "assets/images/articleimages/24-1_26-1_40-2_43-1_rightcullum.jpg">
		</div>
		<div class = "halfsquare gray">
		</div>
	</div>
</div>
</div>