<div class = "topwrap">
	<div class = "floater float-left heightfill">
		<img class = "fillall" src = "assets/images/articleimages/25-1_cock_leftcollum.jpg"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn text narrowcolumn">
		</div>
		<div class = "rightcolumn widecolumn black">
			<h1 class = "title">Blodige hanekampe i det skjulte</h1>
		</div>
	</div>
	<div class = "floater float-right heightfill black">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "square text">
			<h1>Cockfight</h1>
			<p>Overalt i det filippinske samfund arrangeres og væddes der om store summer på blodige hanekampe.</p>
		</div>
		<div class = "halfsquare gray"></div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer square">
			<img class = "fillall" src = "assets/images/articleimages/25-1_cockfight_center.jpg">
		</div>
		<div class = "narrowcolumn leftcolumn"></div>
		<div class = "widecolumn rightcolumn">
			<div class = "text halfsquare">
<p>Reglerne er simple. Kamp til døden eller til at skaderne er så kritiske, at kampen ikke kan fortsætte. Hanekamp er en blodsport, hvilket understreges af de knivskarpe blade, hanerne forsynes med inden kampen bryder løs. Og filippinerne elsker det. Næst efter basketball betragtes det af mange som nationalsporten, og så længe kampene foregår under ordnede forhold i de såkaldte cockpits, er de faktisk også lovlige. Men det er kun en brøkdel af slagene, der udkæmpes her i cockpitsene.</p>
<h3>Skjulte kampe</h3>
<p>Organiserede hanekampe uden for cockpitsene har i mange år været udbredt i Filippinerne til trods for, at det er ulovligt og kan indkassere enorme bøder. Et af de steder kampene er særligt populære er i slumområderne. Her mødes større grupper i tilbagetrukne gader for at lade kampene udspille sig i det skjulte, mens der væddes om, hvilket fjerkræ holder længst.</p>
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "gray halfsquare"></div>
		<div class = "tall">
			<img src = "assets/images/articleimages/25-1_txt_rightcollum.png">
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/25-1_rightcollum.jpg">
		</div>
	</div>
</div>
</div>