<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn text widecolumn black">
			<h1 class = "title">Fra slummen til gaden</h1>
		</div>
		<div class = "rightcolumn narrowcolumn">
			<img src = "assets/images/articleimages/28-1_top.jpg">
		</div>
	</div>
	<div class = "floater float-right heightfill black">
		<img src = "assets/images/articleimages/Mennesker_tile.png">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "halfsquare gray">
			<img src = "assets/images/articleimages/28-1_leftcollum.jpg">
		</div>
		<div class = "text square black">
			Halvanden million filippinske børn lever på gaden. En af dem er Raven. Som 8-årig forlod han et voldeligt hjem for at jagte lykken på gaden. Se her, om han har fundet den.
		</div>
		<div class = "halfsquare" id = "Quiz" question = "På verdensplan skønnes mere end 100 millioner børn at leve på gaden. I hvilken del af verden finder man flest gadebørn?" answers = "Asien;Afrika;Latinamerika" correctanswer = "2"></div>

	</div>
	<div class = "centerwrap">
		<div class = "topcontainer"></div>
		<div class = "widecolumn leftcolumn">
			<div class = "text square">
				<p>På fortovet i bydelen Binondo sidder en forpjusket dreng og iagttager morgentrafikken. Tynd som en streg, sidder han der helt alene. Benene har han trukket op under sig, mens han forventningsfuld rækker hånden ud, hver gang en person smyger sig forbi og ind i den 7-eleven han har taget plads foran. I løbet af den tidlige morgentime dumper der et par mønter ned i drengens snavsede håndflade. En halv bolle fra en morgenmæt fortravlet kvinde falder også af.</p>
				<h3>En af mange i Manila</h3>
				<p>Drengens navn er Raven. Han er 14 år, og han starter ofte sin dag på netop denne måde. Raven er en af de op mod 75.000 børn, der formodes at bo og leve på gaden i hovedstaden Manila. Der findes ingen officiele tal eller statistikker, når det kommer til antallet af gadebørn på landsplan, men flere filippinske organisationer regner med, at tallet sniger sig op omkring 1.5 millioner.</p>
				<p>Som mange af landet øvrige gadebørn har Raven ikke altid levet på gaden. Tidligere boede han med sine forældre og tre søskende i et af Manilas slumområder. Opvæksten var præget af uro og utryghed. Ikke mindst på grund af en alkoholiseret far, som tævede både Ravens mor, men også ham og hans søskende. Derfor valgte Raven i 2008 at søge lykken på gaden som blot otte-årig. I dag har han boet her i seks år.</p>
				<h3>Lever med andre gadebørn</h3>
				<p><i>“Starten var hård. Det var svært at finde mad og sygdommene slog hårdt. Hvis du havde penge eller mad, blev du bestjålet eller udnyttet,”</i> fortæller Raven. I dag har han tilpasset sig livet på gaden. Han har fået etableret sig en nogenlunde stabil tilværelse, og er med i en større gruppe, der tæller 19 gadebørn i alderen 6-17 år. I gruppen passer de på hinanden, og de deler ofte også maden de skraber sammen.</p>
				<p>Når det i perioder går godt med at tjene penge, vender Raven af og til hjem til sin familie. På trods af, at han har været gadedreng i seks år, føler han stadig, at han har en pligt overfor familien. “Jeg savner min familie og hjælper til, når jeg kan. Men jeg skal ikke tilbage. Livet hjemme hos familien er stadig ikke bedre, end det jeg har på gaden,” siger han.</p>
				<h3>Drømmen om det gode liv</h3>
				<p>Tilværelsen på gaden er hård. Selvom man som gadebarn ikke ejer meget risikerer man at blive udsat for tyveri og røveri, hvis man sætter foden de forkerte steder. Raven har oplevet, at flere af hans venner fra gaden pludselig er forsvundet. Muligvis fordi politiet har taget dem og har smidt dem i fængsel eller på børnehjem, eller også fordi de i værste fald er døde.</p>
				<p><i>“Jeg vil ikke bo på gaden for altid. Det er ikke et godt liv. Jeg håber, at jeg kan få en uddanelse, så jeg kan forsørge min familie. Drømmen er at blive pilot. Det må være sjovt at flyve, og så tjener de sikkert også mange penge,”</i> siger Raven.</p>
			</div>
		</div>
		<div class = "narrowcolumn rightcolumn">
			<div class = "supertall">
				<img src = "assets/images/articleimages/28-1_center.png">
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "square">
			<img src = "assets/images/articleimages/28-1_rightcullum.png">
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/28-1_rightcollum.jpg">
		</div>
	</div>
</div>
</div>