<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn black text widecolumn">
			<h1 class = "title">Gadedreng fra top</br>til tå</h1>
		</div>
		<div class = "rightcolumn narrowcolumn white">
		</div>
	</div>
	<div class = "floater float-right heightfill black">		
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text square ">
			Hudlidelser, intens tandpine og kløende lus i håret. Lær gadedrengen Raven at kende fra top til tå og se, hvordan livet på gaden sætter spor på krop og sjæl.
		</div>
		<div class = "halfsquare tall">
			<img src = "assets/images/articleimages/29-1_man_rightcollum.png">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer halfsquare">			
			<div id = "slider" imagerotation = "true">
				<div>
					<img src = "assets/images/articleimages/29-1_hair_gallry.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/29-1_eye_gallry.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/29-1_teeth_gallry.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/29-1_jew_gallry.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/29-1_clothes_gallry.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/29-1_tattoo_gallry.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/29-1_hand_gallry.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/29-1_feet_gallry.png">
				</div>
			</div>
		</div>
		<div class = "narrowcolumn leftcolumn">
			<div class = "square">
				<img src = "assets/images/articleimages/29-1_center.png">
			</div>
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "halfsquare small gray">
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Mennesker_tile.png">
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/29-1_man_rightcollum.png">
		</div>
		<div class = "halfsquare white">
			<img src = "assets/images/articleimages/29-1_rightcollum.png">
		</div>
	</div>
</div>
</div>