<div class = "topwrap">
	<div class = "floater float-left heightfill">
	</div>
	<div class = "centerwrap">
		<div class = "leftcolumn text widecolumn white">
			<h1 class = "title">De nemme ofre</h1>
		</div>
		<div class = "rightcolumn narrowcolumn black">
			<img src = "assets/images/articleimages/30-1_graphic_top.png">
		</div>
	</div>
	<div class = "floater float-right heightfill">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/30-1_leftcollum.png">
		</div>
		<div class = "square text black">
			Op mod 100.000 filippinske børn og mindreårige sælges hvert år til sexindustrien. Fattige børn er ofte de nemme ofre.
		</div>
		<div class = "halfsquare" id = "Quiz" question = "Handel med mennesker, blandt andet sexindustrien, betegner man ofte med et bestemt engelsk begreb. Hvilket?" answers = "Human Trafficking;Human Trade;Human Transaction" correctanswer = "0"></div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer"></div>
		<div class = "widecolumn leftcolumn">
			<div class = "square small">
				<img src = "assets/images/articleimages/30-1_center.png">
			</div>
			<div class = "halfsquare small">
				<img src = "assets/images/articleimages/Mennesker_tile.png">
			</div>
			<div class = "halfsquare small">
				<img src = "assets/images/articleimages/30-1_red_center.png">
			</div>
			<div class = "text halfsquare">
				<p>Sex er en milliardindustri. Desværre er det også en industri, hvor skruppelløse voksne udnytter og misbruger uvidende børn. Ifølge tal fra FN trækkes op mod en million børn hvert år ind i sexindustrien. Særligt i udviklingslande som Filippinerne, hvor fattigdom og nød er en del af dagligdagen, er seksuel udnyttelse og handel med børn et problem. Det anslås at mellem 60.000 og 100.000 filippinske børn hvert år har kontakt med sexindustrien.</p>
				<h3>Børn gennemskuer ikke motivet</h3>
				<p>Fred Cabredo er socialarbejder og tilknyttet organisationen Kanlungan, der kæmper for børns rettigheder i Filippinerne. Gennem sit daglige arbejde i Manilas gademiljø har han set eksempler på, hvordan børn bliver en del af statistikken. <i>“Mange bliver lokket til byen fra provinsen. De får at vide, at de skal arbejde som husholderske eller lignende, men ofte viser det sig, at der er en helt anden plan for dem,”</i> siger Fred Cabredo.</p>
				<p>Han fortæller også, at det ikke er usædvanligt at børn, der lever på gaden kontaktes af voksne, der vil give dem penge eller mad for seksuelle ydelser. “For børn er det ofte svært at gennemskue motivet. Hvis der så ovenikøbet er penge involveret, og man er sulten fordi man ikke har spist hele dagen, kan det være svært at sige nej,” siger Fred og tilføjer, at der også er set eksempler på, at andre gadebørn har ageret mellemhandlere.</p>
			</div>
		</div>
		<div class = "narrowcolumn rightcolumn">
			<div class = "supertall">
				<img src = "assets/images/articleimages/30-1_graphic_center.png">
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/30-1_red_rigthcollum.png">
		</div>
		<div class = "halfsquare black">
			<img src = "assets/images/articleimages/30-1_txt_rightcollum.png">
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/30-1_girl_rightcollum.png">
		</div>
	</div>
</div>
</div>