<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn text widecolumn black">
			<h1 class = "title">Gadedrengens tre tiggertips</h1>
		</div>
		<div class = "rightcolumn narrowcolumn white"></div>
	</div>
	<div class = "floater float-right heightfill white">
		<img src = "assets/images/articleimages/31-1_top.jpg">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text square">
			Poten frem og på med hundøjnene. Tiggeri er ikke en nem, men uundværlig disciplin for mange af Manilas børn på gaden. For gadedrengen Raven har tiggeriet været en uundværlig indkomst i de seks år, han har boet på gaden. Se Ravens råd til den uerfarne tigger her.
		</div>
		<div class = "halfsquare black"></div>
		<div class = "halfsquare gray">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer halfsquare">
			<div id = "slider" imagerotation = "true">
				<div>
					<img src = "assets/images/articleimages/31-1_1_gallery.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/31-1_2_gallery.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/31-1_3_gallery.png">
				</div>
			</div>
		</div>
		<div class = "narrowcolumn leftcolumn">
			<div class = "square">
				<img src = "assets/images/articleimages/31-1_center.png">
			</div>
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "halfsquare">
				<img src = "assets/images/articleimages/31-1_boy_center.jpg">
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "halfsquare black"></div>
		<div class = "halfsquare gray">
			<img src = "assets/images/articleimages/Kultur_tile.png">
		</div>
		<div class = "halfsquare" id = "Quiz" question = "Raven er særligt glad for at tigge i området Binondo, fordi her bor mange kinesere. Men hvad gør det populært at tigge her?" answers = "Kinesere er rige; Kinesere er gavmilde;Kinesere giver frugt" correctanswer = "1"></div>
	</div>
</div>
</div>