<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn text widecolumn black">
			<h1 class = "title">PAGPAG – NÅR SKRALD BLIVER TIL MAD</h1>
		</div>
		<div class = "rightcolumn narrowcolumn"></div>
	</div>
	<div class = "floater float-right heightfill">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "halfsquare white"></div>
		<div class = "text square black">
			I løbet af de senere år har en mindre undergrundsindustri bredt sig i slumområderne. Fænomenet hedder Pagpag og det gælder om at forarbejde kasserede kyllingerester.
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer">
		</div>
		<div class = "widecolumn leftcolumn">
			<div class = "halfsquare text">
				<p>Pagpag. Udtrykket er ikke nyt i det filippinske sprogbrug. På Tagalog betyder ordet traditionelt set ‘at ryste’ eksempelvis støv af tøj, tæpper eller lignende, men i løbet af de senere år har udtrykket fået en ny betydning i takt med at en undergrundsindustri blandt storbyernes fattige har vokset sig større. Pagpag er nemlig også blevet forvandlet til en betegnelse for det at dykke ned i skraldedynger for at ‘ryste’ snavs og maddiker af de afgnaskede kyllingeben som fastfood restauranternes kunder smider i skraldespanden. Kyllingeresterne forarbejdes herefter til eget forbrug eller med henblik på videresalg.</p>
				<p>Samlingen af pagpag er efterhånden så organiseret, at det er et helt kyllingekredsløb. Mellemhandlere indgår aftaler med fastfoodkæder og restauranter om at købe deres skraldeposer, som de sælger videre til pagpag-plukkere. Skraldet frigives ofte omkring lukketid ved midnat, så plukkerne bruger natten på</p>
				<p>at rode skraldeposerne igennem og rense kyllingeben for kødrester. Plukkerne sælger nattens fangst af kødrester videre til slummens kogekoner om morgen. De vasker, koger og steger kødet, så det kommer til at indgå i nye retter, der sælges overalt i slumområderne.</p>
				<p>Det er ikke uden risiko at spise pagpag, selvom kyllingeresterne bliver grundigt forarbejdet. Pagpag’en kan ligge i flere dage, ofte i bagende hede og i containere, hvor rotter og andre skadedyr har fri adgang. I nogle tilfælde er det ikke muligt at slå fødevarebårne sygdomme ned, hvilket kan resultere i akut ubehag eller en mere langsigtet sygdomsforløb, der kan være invaliderende eller i værste tilfælde dødelig.</p>
			</div>
			<div class = "halfsquare">
				<img src = "assets/images/articleimages/32-1_center.jpg">
			</div>
		</div>
		<div class = "narrowcolumn rightcolumn">
			<div class = "halfsquare black">
			</div>
			<div class = "halfsquare" id = "Quiz" question = "Pagpag skal findes i skraldespande og containere. Men cirka hvor meget skrald producerer indbyggerne i Manila hver dag?" answers = "2300 tons;8700 tons;13200 tons" correctanswer = "1"></div>
			<div class = "halfsquare"></div>
			<div class = "halfsquare">
				<img src = "assets/images/articleimages/Kultur_tile.png">
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "tall ">
			<img src = "assets/images/articleimages/32-1_rightcollum.jpg">
		</div>
		<div class = "halfsquare black">
		</div>
	</div>
</div>
</div>