<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn narrowcolumn white">
		</div>
		<div class = "rightcolumn text widecolumn black">
			<h1 class = "title">Stoffer på gadeplan</h1>
		</div>
	</div>
	<div class = "floater float-right heightfill black">
		<img src = "assets/images/articleimages/33-1_47-1_top.png">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "square text">
			Ved hjælp af blandt andet husholdningsprodukter får slummens børn og unge nemt og billigt en rus op at køre. Se hvilke stoffer, der hitter.
		</div>
		<div class = "halfsquare gray">
		</div>	
		<div class = "black halfsquare"></div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer halfsquare">
				<div id = "slider" imagerotation = "true">
					<div>
						<img src = "assets/images/articleimages/33-1_47-1_marihuanna_gallery.png">
					</div>
					<div>
						<img src = "assets/images/articleimages/33-1_47-1_rugby_gallery.png">
					</div>
					<div>
						<img src = "assets/images/articleimages/33-1_47-1_shabu_gallery.png">
					</div>
					<div>
						<img src = "assets/images/articleimages/33-1_47-1_vulcaseal_gallery.png">
					</div>
				</div></div>
		<div class = "narrowcolumn leftcolumn">
          	<div class = "halfsquare" id = "Quiz" question = "Stoffer er en gigantisk, men ulovlig industri i Filippinerne. Hvor meget formoder man, der blev omsat for i 2013?" answers = "2,5 milliarder $;5,5 milliarder $;8,5 milliarder $" correctanswer = "2"></div>
			<div class = "halfsquare gray"></div>
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "text halfsquare">
				<h2>Derfor tager de stoffer</h2>
				<p>Der kan være flere grunde til, at børn og unge tager stoffer, men ifølge Fred Cabredo, der er socialarbejder og tilknyttet organisationen Kanlungan, overskygger en dem alle. Sult.</p>
				<p>“For cirka 20 pesos kan et barn købe et måltid mad, der mætter i maven og fortrænger sulten i en dags tid. For samme beløb kan barnet købe en tube vulcaseal, der kan holde sulten på afstand i flere dage,” siger Fred Cabredo.</p>
				<p>Han påpeger, at det i høj grad er gadebørn, der tager stoffer for at undgå sulten, mens de i slummen tager dem af andre årsager. “I slummen kommer misbrugeren ofte fra dysfunktionelle familier med vold og misbrug. For dem er rusen i ligeså høj en grad en flugt fra dagligdagen, der får dem til at glemme elendigheden for en stund,” siger Fred Cabredo og påpeger, at der også er et socialt aspekt i det at tage stoffer sammen i en gruppe.</p>
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "black halfsquare"></div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Kultur_tile.png">
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/33-1_47-1_rightcollum.png">
		</div>
	</div>
</div>
</div>