<div class = "topwrap">
	<div class = "floater float-left heightfill">
	</div>
	<div class = "centerwrap">
		<div class = "narrowcolumn leftcolumn">
			<img src = "assets/images/articleimages/34-1_top.jpg">
		</div>
		<div class = "widecolumn rightcolumn white">
			<h1 class = "title">Filippinske migrationsarbejdere</h1>
		</div>
	</div>
	<div class = "floater float-right heightfill">
		<img src = "assets/images/articleimages/Omraade_tile.png">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text halfsquare black">
			I store dele af verden er det nødvendigt at forlade hjemlandet for at finde arbejde.
		</div>
		<div class = "tall">
			<img src = "assets/images/articleimages/34-1_txt_leftcollum.png">
		</div>
		<div class = "square gray"></div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer square">
			<img src = "assets/images/articleimages/34-1_center.png">
		</div>
		<div class = "narrowcolumn leftcolumn">
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "text halfsquare">
				<p>Det kan virke koldt og kynisk at efterlade børn og den øvrige familie for at rejse tusindevis af kilometer om på den anden side af jorden for at finde arbejde som au pair pige i Danmark eller kok i USA. Ikke desto mindre er det en meget benyttet model på verdensplan, hvor mere end 215 millioner migrationsarbejdere, hvert år rejser uden for hjemlandets grænser for at arbejde og bo i minimum et år. I 2012 sendte alle verdens migrantarbejdere ifølge Verdensbanken 2886 milliarder kroner hjem til deres hjemlande. En pengeoverførsel, der også bærer betegnelsen remitter.</p>
				<h3>Hver 10. Filippiner arbejder i udlandet</h3>
				<p>Filippinerne er et af de lande, der hvert år sender massevis af indbyggere ud for at tjene penge. Faktisk arbejder ikke mindre end 9 millioner, eller det der cirka svarer til hver tiende filippiner uden for landets grænser. Det høje filippinske antal migrantarbejdere svarer til en fjerdedel af landets samlede arbejdsstyrke, og det er ikke småpenge, de sender hjem. Hvert år bidrager de samlet set med 130 milliarder kroner i meritter. Pengene sendes ofte hjem til migrationsarbejderens families, men kommer også til at indgå i det filippinske økonomiske kredsløb, hvor de tegner sig for 13.5 procent af ørigets bruttonationalprodukt.</p>
				<p>Ifølge Verdensbanken er pengestrømme fra migrantarbejderne med til at sikre væsentlige forbedringer af levevilkår, i de lande de sendes til, hvor de typisk omsættes til uddannelse og bedre sundhedsforhold- og sikring. Omkring 75 procent af indtjeningen fra verdens samlede migrationsarbejdsstyrke sendes til ulande. Se herunder hvem der tjener mest hjem.</p>
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "tall black">
			<img src = "assets/images/articleimages/34-1_txt_rightcollum.png">
		</div>
		<div class = "halfsquare gray">
			<img src = "assets/images/articleimages/34-1_rightcollum.jpg">
		</div>
	</div>
</div>
</div>