<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn text widecolumn">
			<h1 class = "title">Slumdysten</br>Lampefeber</h1>
		</div>
		<div class = "rightcolumn narrowcolumn"></div>
	</div>
	<div class = "floater float-right heightfill">
		<img src = "assets/images/articleimages/35-1_top.jpg">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/35-1_lefttcollum.jpg">
		</div>
		<div class = "text square">
			I flere filippinske slumområder etableres de såkaldte livelyhoods. Små virksomheder der sikrer, at en del af lokalområdets kan få arbejde og mad på bordet ved hjælp af simple jobs.
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/35_1.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/35_1.webm' type = "video/webm"></source>
			</video>
		</div>
		<div class = "narrowcolumn leftcolumn">
			<div class = "halfsquare gray">
		</div>
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "halfsquare text">
				<h3>Dysten</h3>
				<p>Der er fare for at klappen går ned, og lampefeberen tager over, når der dystes i, hvem der har mest fingersnilde i et af slummens livelyhoods. Jonas og Mikkel kaster sig ud i samlebåndsarbejdet med søskaller, der skal forarbejdes og omsættes til lampedele.</p>
				<h3>Om slumdysten</h3>
				<p>Hvordan ville en dansker klare sig i slummen? For at blive klogere på det udfordrer tilrettelæggerne af ‘The Slum Challenge‘ sig selv og hinanden i en række prøvelser, der tager udgangspunkt i hverdagssituationer i Manilas slum. Som danske menneskelige målestokke prøver Jonas og Mikkel kræfter med arbejdsmarkedet og kulturen i en fattig filippinsk verden.</p>
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "halfsquare gray"></div>
		<div class = "square">
			<img src = "assets/images/articleimages/35-1_workshop_rightcollum.jpg">
		</div>
		<div class = "halfsquare gray">
			<img src = "assets/images/articleimages/Slumdyst_tile.png">
		</div>
	</div>
</div>
</div>