<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn text black widecolumn">
			<h1 class = "title">Gadebørn forsvinder</h1>
		</div>
		<div class = "rightcolumn narrowcolumn">
		</div>
	</div>
	<div class = "floater float-right heightfill"></div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text black square">
			Det er ikke noget særsyn at støde på efterlysninger af bortløbne børn og unge på gaden i Manila. Men ikke alle findes igen, og dem der gør mangler organer.
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/37-1_leftcollum.jpg">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer"></div>
		<div class = "widecolumn leftcolumn">
			<div class = "halfsquare text">
				<p>Livet på gaden er farligt og uforudsigeligt. Børn og unge, der lever på gaden forsvinder med jævne mellemrum ud i den blå luft. Nogle dukker op igen efter kort tid, mens andre ikke gør, og i værste fald findes døde. Nogle af dødfaldende kan kædes sammen med organdonation. Vel og mærke den ufrivillige af slagsen.</p>
				<h3>Salg af organer</h3>
				<p>I 2013 var der i den filippinske presse skriverier om, at et forbryderisk syndikat bortførte gadebørn i Manila med det formål, at slå dem ihjel og fjerne deres indre organer med henblik på videresalg på det sorte marked. Op mod 40 gadebørn forsvandt på kort tid under de samme mystiske og uforklarlige omstændigheder. Efterfølgende fandt man en række børnelig, hvor vitale organer var opereret ud, men politiet fandt ikke nok beviser og konkluderede på den baggrund, at der ikke var sammenhæng mellem bortførelserne.</p>
				<p>Organ trafficking, hvor især landets fattige sælger organer, har været forbudt i Filippinerne siden 2008. Siden da har en undergrundsindustri bredt sig i landet, hvor en nyre kan indkassere mellem 3000-4000 dollars.</p>
			</div>
			<div class = "halfsquare black small float-left"></div>
			<div class = "halfsquare small float-right" id = "Quiz" question = "Organiseret handel med organer er formelt set ulovligt i alle lande med undtagelse af et, hvilket?" answers = "Rumænien;Iran;Irak" correctanswer = "1"></div>
			<div class = "halfsquare black small float-left">
				<img src = "assets/images/articleimages/Slumogfattigdom_tile.png">
			</div>			
		</div>
		<div class = "narrowcolumn rightcolumn">
			<div class = "tall">
				<img src = "assets/images/articleimages/37-1_center.png">
			</div>
			<div class = "halfsquare black small float-left"></div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/37-1_txt_rightcollum.png">
		</div>
		<div class = "tall">
			<img src = "assets/images/articleimages/37-1_rightcollum.jpg">
		</div>
		<div class = "halfsquare"></div>
		<div class = "tall gray"></div>
	</div>
</div>
</div>