<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn text widecolumn black">
			<h1 class = "title">Slumfloden i Manila</h1>
		</div>
		<div class = "rightcolumn narrowcolumn"></div>
	</div>
	<div class = "floater float-right heightfill">
		<img src = "assets/images/articleimages/37-2_top.jpg">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "square text black">
			Den 26 kilometer lange Pasig River, der snor sig gennem hjertet af Manila er tæt forbundet med en stor del af byens slumområder.
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/37-2_leftcollum.jpg">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer"></div>
		<div class = "widecolumn leftcolumn">
			<div class = "halfsquare text">
				<p>En ildelugtende flod, der skærer hovedstaden over i to, eller et hjem. Måden at anskue Pasig River, der snor sig gennem Manila er meget forskellig alt efter, hvem man spørger. Det anslås at områderne omkring floden danner fundamentet for eksistensen for op mod 700.000 mennesker i hovedstaden.</p>
				<p>Da tilstrømningen til Manila for alvor tog til efter Anden Verdenskrig havde tilflytterne ingen eller meget få midler at gøre godt med. Størstedelen var derfor nødt til at slå sig ulovligt ned i de områder, der for andre syntes ubeboelige. Området omkring Pasig River blev hurtigt populært. Slog man sig ned her, var det via floden både muligt at komme af med spildevand og affald, men også at bade og ernære sig ved at fiske i floden.</p>
				<h3>Tætpakket flod</h3>
				<p>Siden dengang er meget vand løbet gennem floden, og ligeså forholder det sig med befolkningstilvæksten, der gradvist er taget til, som årene er gået. Tager man i dag en tur langs flodbredden, ser man, at Pasig River og mange af de omkringliggende Esteroer et tætpakket er der stort set ikke er plads til flere. I visse områder har tilstrømningen været så massiv, at man har været nødsaget til at bygge husene ud over floden på skrøbelige fundamenter, for at have plads til alle.</p>
			</div>
			<div class = "square small float-left">
				<img src = "assets/images/articleimages/37-2_boy_center.jpg">
			</div>
			<div class = "halfsquare black small float-right"></div>
			<div class = "halfsquare black small float-right">
				<img src = "assets/images/articleimages/Slumogfattigdom_tile.png">
			</div>
			<div class = "halfsquare gray small float-right"></div>
		</div>
		<div class = "narrowcolumn rightcolumn">
			<div class = "square">
				<img src = "assets/images/articleimages/37-2_jump_center.jpg">
			</div>
			<div class = "square">
				<img src = "assets/images/articleimages/37-2_txt_center.png">
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "tall">
			<img src = "assets/images/articleimages/37-2_txt_rightcollum.png">
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/37-2_rightcollum.jpg">
		</div>
	</div>
</div>
</div>