<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn text black widecolumn">
			<h1 class = "title">Manilas Megamalls</h1>
		</div>
		<div class = "rightcolumn narrowcolumn">
		</div>
	</div>
	<div class = "floater float-right heightfill">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text square black">
			I Metro Manila ligger en lille håndfuld af verdens største shoppingcentre de såkaldte megamalls. I Filippinerne har kulturen med shoppingcentrene, vokset sig så stor, at den har fået sit eget verbum.
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Kultur_tile.png">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer">
		</div>
		<div class = "widecolumn leftcolumn">
			<div class = "halfsquare text">
				<p>Med nænsom hånd ligger de spredt rundt om i millionsbyen larm og trængsel. Som enorme indkøbskasser eller arkitektoniske perler på en snor. Shoppingcentrerne bugner i metro Manilas bybillede. Faktisk finder man ikke færre end fem filippinske shoppingcentre på listen over klodens 20 største.</p>
				<h3>1100 butikker under samme tag</h3>
				<p>Et af dem er SM Megamall, der med et samlet butiksareal på omkring de 500.000 kvadratmeter, sniger sig ind på en fornem tredjeplads, kun overgået af et par kinesiske shoppingcentre i kampen om at indtage pladsen som verdens største. De mange kvadratmeter i SM Megamall huser mere end 750 butikker og 250 spisesteder på fem etager. Shoppingcenteret åndes i nakken SM City North EDSA, der er et andet filippinsk shoppingcenter fra samme kæde, som også ligger i Manila. Tiltrods for at huse mere end 1100 butikker, må SM City North EDSA tage til takke med pladsen som verdens fjerde største, da det samlede butiksareal ‘kun’ sniger sig op over 482.000 kvadratmeter butiksareal.</p>
				<h3>Forbudt for fattige</h3>
				<p>Flertallet af den filippinske befolkning kommer i shoppingcentrene, men en gruppe er forment adgang i mange tilfælde. Det er ikke usædvanligt, at sikkerhedsvagter afviser mallgængere, hvis de vurderes ikke at have købekraft. Penge eller ej, ifølge shoppingcentrene er høj som lav velkomne, men realiteten er ofte anerledes.</p>
				<p>Cirka hver fjerde filippiner lever under fattigdomsgrænsen og for mindre end 7 kroner om dagen.</p>
			</div>
			<div class = "superhalfsquare">
				<img src = "assets/images/articleimages/38-1_center.jpg">
			</div>
			<div class = "halfsquare float-left" id = "Quiz" question = "Selv om Mall Of Asia i Manila er langtfra byens st&oslash;rste, er det særligt kendt for en ting, hvad?" answers = "Den er bygget som en tro kopi af Asien;Den indeholder en kæmpe sk&oslash;jtebane;Hjeml&oslash;se har lov til at overnatte indenfor" correctanswer = "1"></div>

		</div>
		<div class = "narrowcolumn rightcolumn">
			<div class = "square black">
				<img src = "assets/images/articleimages/38-1_mall_center.png">
			</div>
			<div class = "square">
				<img src = "assets/images/articleimages/38-1_txt_center.png">
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "square black">
				<img src = "assets/images/articleimages/38-1_txt_rightcollum.png">
		</div>
		<div class = "halfsquare gray">
			<img src = "assets/images/articleimages/38-1_rightcollum.jpg">
		</div>
		
	</div>
</div>
</div>