<div class = "topwrap">
	<div class = "floater float-left heightfill">
	</div>
	<div class = "centerwrap">
		<div class = "leftcolumn narrowcolumn white">
		</div>
		<div class = "float-left widecolumn black heightfill">
			<h1 class = "title">Skæv filippinsk fordeling</h1>
		</div>
	</div>
	<div class = "floater float-right heightfill">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text black square">
			I Filippinerne ruller pengene ind. Landet har en af regionens bedste vækstrater og med kæmpemæssige malls og flere fancy feriesteder fremstår Filippinerne velhavende, men forskellen på rig og fattig er enorm.
		</div>
		<div class = "halfsquare" id = "Quiz" question = "I Danmark har vi vores egen grænse, der betegner fattigdom i en dansk målestok. Man er fattig i Danmark, når man han en årlig indkomst under:" answers = "48.200 kr;78.600 kr;103.200 kr" correctanswer = "2"></div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/40-1_41-1_leftcollum.jpg">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer"></div>
		<div class = "narrowcolumn leftcolumn">
			<div class = "square">
				<img src = "assets/images/articleimages/40-1_41-1_slumwater_center.jpg">
			</div>
			<div class = "square">
				<img src = "assets/images/articleimages/40-1_14-1_txt_center.png">
			</div>
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "text halfsquare">
				<p>"Asiens springende tiger." Sådan betegnes den filippinske økonomi af Verdensbanken. Set i lyset af årlige vækstrater på op mod syv procent, er der heller ingen tvivl om, at det er i netop disse år at den filippinske vækst for alvor boomer. Pengene strømmer ind, og potentialet er større end nogensinde.</p>
				<p>Men på trods af de flotte tal, så er fordelingen af værdierne i Filippinerne meget ujævn. For mens mere end hver fjerde filippiner lever under fattigdomsgrænsen og må klare sig for under syv kroner om dagen, så står landets ti procent mest velhavende del af befolkning noteret for over 80 procent af landets rigdom. Ifølge det amerikanske erhvervsmagasin Forbes ejer de to rigeste filippinske forretningsmænd tilsammen en formue på 13,6 milliarder dollars, hvilket svarer til seks procent af landets samlede bruttonationalprodukt.</p>
			</div>
			<div class = "square">
				<img src = "assets/images/articleimages/40-1_41-1_slumhut_center.jpg">
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "supertall">
			<img src = "assets/images/articleimages/40-1_14-1_txt_rightcollum.png">
		</div>
	</div>
</div>
</div>