<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "text fillall">
			<h1 class = "title">Smag på det filippinske gadekøkken</h1>
		</div>
	</div>
	<div class = "floater float-right heightfill black"></div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "halfsquare black"></div>
		<div class ="square text">
			Kyllingeblod, grillet tarm eller et andefoster. Filippinerne er vilde med underfundige retter fra byens mange gadekøkkener. Smag lidt på nogle af dem her.
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Kultur_tile.png">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer halfsquare">
			<div id = "slider" imagerotation = "true">
				<div>
					<img src = "assets/images/articleimages/42-1_1_gallery.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/42-1_2_gallery.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/42-1_3_gallery.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/42-1_4_gallery.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/42-1_5_gallery.png">
				</div>
			</div></div>
		<div class = "leftcolumn narrowcolumn">
			<div class = "halfsquare" id = "Quiz" question = "‘Buko’ er en anden populær spise i det filippinske gadekøkken, men hvad er det?" answers = "Ristet kohud;Friske kokusnødder;Tørrede karkelakker" correctanswer = "1"></div>
		</div>
		<div class = "rightcolumn widecolumn">
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "tall">
			<img src = "assets/images/articleimages/42-1_rightcollum.jpg">
		</div>
		<div class = "square gray"></div>
	</div>
</div>
</div>