	<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn narrowcolumn">
		</div>
		<div class = "rightcolumn text widecolumn">
			<h1 class = "title">Mød gadedrengen på stoffer</h1></div>
	</div>
	<div class = "floater float-right heightfill"></div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text square">
			13-årige Jericho bor på gaden i Manila. Han har ikke mange penge, så han sniffer ofte opløsningsmidler som Vulcaseal og Rugby for at holde sulten væk.
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Mennesker_tile.png">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/48_1.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/48_1.webm' type = "video/webm"></source>
			</video>
		</div>
		<div class = "narrowcolumn leftcolumn">
			<div class = "halfsquare gray"></div>
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "text halfsquare">
				Han ved godt, at det ikke er godt for ham. Alligevel gør han det. Sniffer opløsningsningsmidler. Jericho er en af Manilas mange gadebørn, der bor i området Binondo ved Pasigfloden. I det daglige tjener han penge ved at samle skrald eller tigge, men af og til er der ingen penge til mad. Derfor ser han sig ofte nødsaget til at sniffe opløsningsmidler for at holde sulten på afstand. Hør Jericho fortælle, hvad stofferne gør ved ham.
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "square">
			<img src = "assets/images/articleimages/48-1_txt_rightcollum.png">
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/48-1_rightcollum.jpg">
		</div>
	</div>
</div>
</div>