<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "widecolumn leftcolumn black">
			<h1 class = "title">Fra høj rus til nedtur i kulkælderen</h1>
		</div>
		<div class = "narrowcolumn rightcolumn white"></div>
	</div>
	<div class = "floater float-right heightfill">
		<img src = "assets/images/articleimages/49-1_top_rightcollum.jpg">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text square">
			Med stoffer kan slummens børn og unge holde sulten på afstand. Men på den anden side af rusen venter nedturen og abstinenserne.
		</div>
		<div class = "halfsquare black"></div>
		<div class = "halfsquare gray"></div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer halfsquare">
			<div id = "slider" imagerotation = "true">
				<div>
					<img src = "assets/images/articleimages/49-1_1_gallery.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/49-1_2_gallery.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/49-1_3_gallery.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/49-1_4_gallery.png">
				</div>
				<div>
					<img src = "assets/images/articleimages/49-1_5_gallery.png">
				</div>
			</div>
		</div>
		<div class = "narrowcolumn leftcolumn">
			<div class = "square">
				<img src = "assets/images/articleimages/49-1_txt_center.png">
			</div>
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "halfsquare text">
				<p><i>“Stofferne skader hjernen, hvilket ses ved, at mange misbrugere udvikler adfærdsforstyrrelser som skizofreni og paranoia, der gør, at de ikke tænker rationelt. Derfor oplever vi, at mange i en tidlig alder kommer i konflikt med loven,”</i> siger Doan Foronda og understreger, at mange gadebørn tyr til kriminalitet for at finansiere deres misbrug.</p>
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "halfsquare black">
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Mennesker_tile.png">
		</div>
		<div class = "halfsquare white">
		</div>
	</div>
</div>
</div>