<div class = "topwrap">
	<div class = "floater float-left heightfill">
	</div>
	<div class = "centerwrap">
		<div class = "leftcolumn narrowcolumn black">
		</div>
		<div class = "rightcolumn widecolumn text">
			<h1 class = "title">Mød gadebørnenes pusher</h1></div>
	</div>
	<div class = "floater float-right heightfill"></div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "square text">
			Joy bor på gaden med sine børn. I princippet er hun imod at gadebørn tager stoffer, alligevel sælger hun stoffer til dem, så hendes egen familie kan overleve.
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Mennesker_tile.png">
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/50-1_leftcollum.jpg">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/50_1.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/50_1.webm' type = "video/webm"></source>
			</video>
		</div>
		<div class = "narrowcolumn leftcolumn">
			<div class = "halfsquare gray"></div>
		</div>
		<div class = "widecolumn rightcolumn">
			<div class = "halfsquare text">	
				<p>
					“Af og til får jeg dårlig samvittighed, når jeg sælger stoffer til børnene. Jeg har ondt af dem og ønsker ikke, at det skulle ske for mine egne børn”. Joy ved godt, hvilke konsekvenser det kan få for gadebørnene, når hun sælger stoffer til dem. Alligevel ser hun sig nødsaget til at gøre det for at sikre hendes egen families overlevelse. Mød Joy og hør hende fortælle mere om salget af stoffer her.
				</p>
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "square">
			<img src = "assets/images/articleimages/50-1_txt_rightcollum.png">
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/50-1_rightcollum.png">
		</div>
	</div>
</div>
</div>