<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap black">
		<h1 class = "title fillall">Manilas åbne kloaksystem</br> flyder over af skrald</h1>
	</div>
	<div class = "floater float-right heightfill">
		<img src = "assets/images/articleimages/51-1_top_rightcollum.jpg">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "text black square">
			Flere hundredetusinde bor langs esteroerne, der er Manilas åbne kloaksystemer. Risikoen for oversvømmelse her er særlig stor da vandvejene i områderne er fyldt med skrald.
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/51-1_leftcollum.jpg">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer"></div>
		<div class = "leftcolumn widecolumn">
			<div class = "square small">
				<img src = "assets/images/articleimages/51-1_trash_center.jpg">
			</div>
			<div class = "square small">
				<img src = "assets/images/articleimages/51-1_txt_center.png">
			</div>
			<div class = "text halfsquare">
				<p>At Manila er en storby understreges af det faktum, at byen hver eneste dag producerer op mod 8700 tons skrald. At Manila ligeledes er en storby, der har store problemer med at håndtere mængden af skrald, understreges af, at kun 70 procent af skralden samles på lossepladser og genbrugspladser. Det vil sige, at omtrent 2600 tons skrald på daglig basis forlader byens skraldekredsløb ad omveje. Størstedelen havner i de åbne kloaksystemer esteroerne, der forgrener sig gennem byen, og fortsætter videre ud i flodsystemet og havet.</p>
				<h3>Vandet flyder ikke frit</h3>
				<p>I takt med urbaniseringen og tilstrømningen af mennesker til Manila er esteroerne blevet sat under stort pres. Både i det omfang at kapaciteten af kloaknettet og antallet af indbyggere ikke længere harmonerer, men også fordi, at de mange tilflyttere har slået sig ned langs netop esteroerne, hvilket har betydet at mindre vand nu kan passere gennem kanalerne.</p>
				<p>Summen af disse faktorer betyder, at mange af byens esteroer er så tilstoppede, at vandet ikke længere flyder frit. Det har ikke bare store miljømæssige konsekvenser, men også menneskelige da vandstanden i esteroerne under monsunen hurtigt stiger og oversvømmer slumområder i løbet af kort tid.</p>
			</div>
		</div>
		<div class = "rightcolumn narrowcolumn">
			<div class = "halfsquare">
			<img src = "assets/images/articleimages/51-1_view_center.jpg">
			</div>
			<div class = "halfsquare">
			<img src = "assets/images/articleimages/Slumogfattigdom_tile.png">
			</div>
			<div class = "halfsquare black"></div>
			<div class = "halfsquare" id = "Quiz" question = "Regnskyl er med til at sætte de skraldefyldte Esteroer under yderligere pres. I hvilken måned falder der mest regn i Manila?" answers = "Juni;August;Oktober" correctanswer = "1"></div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "supertall">
			<img src = "assets/images/articleimages/51-1_rightcollum.png">
		</div>
		
	</div>
</div>
</div>