<div class = "topwrap">
	<div class = "floater float-left heightfill"></div>
	<div class = "centerwrap">
		<div class = "leftcolumn narrowcolumn black">
		</div>
		<div class = "rightcolumn widecolumn white">
			<h1 class = "title">Mød en af Manilas tyfonudsatte familier</h1>
		</div>
	</div>
	<div class = "floater float-right heightfill">
		<img src = "assets/images/articleimages/51-2_top_rightcollum.jpg">
	</div>
</div>
<div class ="mainwrap">
	<div class = "floater float-left">
		<div class = "halfsquare text">
			Familien Austria må leve med, at deres hjem flere gange årligt oversvømmes af kloakkens spildevand.
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/Mennesker_tile.png">
		</div>
		<div class = "square">
			<img src = "assets/images/articleimages/51-2_txt_leftcollum.png">
		</div>
	</div>
	<div class = "centerwrap">
		<div class = "topcontainer square">
			<video controls>				
		       <source src='http://cdn.slumchallenge.dk/assets/video/51_2.mp4' type = 'video/mp4'></source>
		       <source src='http://cdn.slumchallenge.dk/assets/video/51_2.webm' type = "video/webm"></source>
			</video>
		</div>
		<div class = "narrowcolumn leftcolumn">
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/51-2_center.jpg">
		</div></div>
		<div class = "widecolumn rightcolumn">
			<div class = "text halfsquare">
				Familien Austria har boet i slumområdet Estero Magdalena i snart 13 år. I løbet af de 13 år har de oplevet, hvordan kloaksystemet, de bor klods op af, er blevet mere og mere tilstoppet og forurenet. Samtidig er tyfonernes styrke over det filippinske ørige taget til, og det har vist sig at være en farlig cocktail for familien Austria og de tusinder af andre familier i slummen, der har slået sig ned langs Manilas åbne kloaksystem. Hør Maria Austria fortælle om, hvordan de oplever de årlige oversvømmelser.
			</div>
		</div>
	</div>
	<div class = "floater float-right">
		<div class = "tall">
			<img src = "assets/images/articleimages/51-2_txt_rightcollum.png">
		</div>
		<div class = "halfsquare">
			<img src = "assets/images/articleimages/51-2_rightcollum.jpg">
		</div>
	</div>
</div>
</div>